﻿* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
document.body.style.zoom="90%";

html,
body {
	min-height: 100vh;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
}

button {
	font-family: 'Source Sans Pro', sans-serif;
}

.my-courses-container {
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blue-border {
	width: 100%;
	height: 20px;
	background-color: #456e9d;
}

.my-courses-container h1 {
	margin-top: 20px;
	font-size: 40px;
	font-weight: bold;
	color: #456e9d;
}

h1 i {
	color: #000;
}

.cards-container {
	margin-top: 30px;
	max-width: 1300px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.total-courses {
	margin-bottom: 15px;
	font-size: 22px;
	align-self: flex-end;
}

.total-courses strong {
	color: #000;
}

.total-courses span {
	margin-left: 10px;
	color: rgba(0, 0, 0, 0.4);
}

.course-card {
	margin-bottom: 20px;
	padding: 20px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px #808080;
	display: flex;
	align-items: center;
}

.image-container {
	width: 260px;
	height: 140px;
	border-radius: 10px;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.course-info {
	margin-left: 30px;
	width: 450px;
}

.course-title {
	font-size: 28px;
	font-weight: bold;
}

.course-description {
	margin-top: 10px;
}

.course-status {
	margin-top: 38px;
	display: flex;
	align-items: center;
}

.circle {
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #1ece8f;
}

.disabled {
	background-color: #ee0b0b;
}

.pending {
	background-color: #456e9d;
}

.course-summary {
	margin-left: 20px;
	width: 310px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: space-around;
}

.label-and-icon {
	width: 100%;
	font-size: 12px;
	display: flex;
	align-items: center;
}

.label-and-icon p:nth-child(2),
.label-and-icon p:nth-child(4),
.label-and-icon p:nth-child(6) {
	margin-left: 5px;
}

.label-and-icon i:nth-child(3),
.label-and-icon i:nth-child(5) {
	margin-left: 15px;
}

.btns-container {
	margin-left: auto;
	width: 150px;
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btns-container button,
.btns-container a {
	padding: 8px 15px;
	border: none;
	outline: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 13px;
	cursor: pointer;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}

.btns-container button i,
.btns-container a i {
	margin-right: 10px;
}

.btns-container a:nth-child(1) {
	padding: 8px 13px;
}

.btns-container a:nth-child(1) i {
	margin-right: 15px;
}

.btns-container button:nth-child(3) i {
	margin-right: 7px;
}

.btns-container a {
	text-decoration: none;
}

.btns-container button:last-child i {
	color: #df2424;
}

.warning-container {
	margin-left: auto;
	padding: 10px 0;
	width: 180px;
	height: 140px;
	border: 1px solid #ccc;
	border-radius: 10px;
	display: flex;
}

.warning-icon {
	width: 50px;
	height: 100%;
	color: #df2424;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.warning-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.warning-info p:last-child {
	font-size: 14px;
}
