﻿.delete-modal-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(74, 74, 74, 0.3);
	display: none;
}

.delete-modal {
	padding: 50px;
	max-width: 800px;
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px #808080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.delete-modal i {
	font-size: 100px;
	color: #e9e350;
}

.delete-modal h1 {
	margin-top: 15px;
}

.reason-container {
	margin-top: 20px;
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reason-container > label {
	margin-bottom: 5px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 1.375em;
}

.reason-container > label span {
	color: #df2424;
}

.reason-container > textarea {
	padding: 15px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 6px;
	resize: none;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
}

.reason-container > small {
	align-self: flex-end;
}

.delete-modal-btns-container {
	margin-top: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.delete-modal-btns-container button {
	padding: 10px;
	width: 200px;
	outline: none;
	border: none;
	border-radius: 6px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

.confirm-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.confirm-btn button {
	margin-top: 10px;
	background-color: #1ece8f;
	transition: 0.4s;
}

.confirm-btn button:disabled {
	background-color: #ccc;
	cursor: default;
}

#no-delete-modal-btn {
	align-self: flex-end;
	background-color: #c53030;
}
