﻿/* Reset e configs globais */
:root {
	--blue-color: #456e9d;
	--red-color: #df2424;
	--primary-black-color: rgba(0, 0, 0, 0.8);
	--secondary-black-color: rgba(0, 0, 0, 0.4);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	color: var(--primary-black-color);
	font-family: 'Source Sans Pro', sans-serif;
}

input,
button,
textarea,
select {
	font-family: 'Source Sans Pro', sans-serif;
	outline: none;
}

a {
	text-decoration: none;
}

/* Wrapper e Container */
.add-class-wrapper {
	min-height: 100vh;
}

.add-class-container {
	padding: 40px 0;
	min-height: 100vh;
}

/* Título e Orientações */
.add-class-container > h1 {
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
}

.add-class-container > h1 i {
	margin-right: 10px;
}

.orientations {
	margin: 60px auto;
	padding: 30px 60px 80px 60px;
	max-width: 1000px;
	border-radius: 10px;
	color: #fff;
	background-color: var(--blue-color);
	box-shadow: 0 0 5px 1px var(--blue-color);
}

.orientations > h2 {
	font-size: 1.75em;
	font-weight: normal;
}

.orientations ul {
	margin-top: 25px;
	list-style: none;
	display: flex;
}

.orientations ul li {
	max-width: 380px;
	font-size: 1.25em;
	display: inline-block;
}

.orientations ul li:nth-child(3) {
	margin-left: 30px;
}

.orientations ul li i {
	margin-right: 10px;
}

/* Formulário */
.add-class-form {
	margin: 0 auto;
	max-width: 900px;
	display: flex;
	flex-direction: column;
}

.input-container {
	position: relative;
	margin-bottom: 30px;
	width: 50%;
	color: var(--secondary-black-color);
	display: flex;
	flex-direction: column;
}

.input-container > label {
	margin-bottom: 15px;
	color: var(--primary-black-color);
	font-size: 1.375em;
	font-weight: bold;
}

.input-container > small {
	margin-top: 4px;
	align-self: flex-end;
}

.input-container > input[type='text'] {
	padding: 0 10px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 6px;
	outline: none;
	color: var(--secondary-black-color);
	font-size: 1.375em;
	transition: 0.3s;
}

.input-container > input[type='text']:focus {
	border-color: var(--primary-black-color);
}

.input-container > textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 6px;
	resize: none;
	color: var(--secondary-black-color);
	font-size: 1.375em;
	transition: 0.3s;
}

.input-container > textarea:focus {
	border-color: var(--primary-black-color);
}

.input-container > select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 10px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 6px;
	color: var(--secondary-black-color);
	font-size: 1.375em;
	cursor: pointer;
	transition: 0.3s;
	background-image: url('./assets/chevron-down.svg');
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 14px;
}

.input-container > select:focus {
	border-color: var(--primary-black-color);
}

.class-image-container {
	max-width: 200px;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.class-image-container > i {
	font-size: 60px;
	color: var(--secondary-black-color);
}

.class-image-container > input {
	display: none;
}

.class-image-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.class-image-container.preview i {
	display: none;
}

.image-btns {
	position: absolute;
	right: 100px;
	bottom: 0;
	color: var(--secondary-black-color);
	font-size: 1.375em;
	opacity: 0;
	transition: 0.4s;
	display: flex;
	flex-direction: column;
}

.class-image-container.preview ~ .image-btns {
	opacity: 1;
}

.image-btns span {
	margin-top: 10px;
	cursor: pointer;
}

.image-btns span:first-child i {
	color: var(--primary-black-color);
}

.image-btns span:last-child i {
	margin-right: 5px;
	color: var(--red-color);
}

.class-video-container {
	position: relative;
	width: 100%;
	height: 220px;
	border: 1px solid #ccc;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.class-video-container > i {
	font-size: 100px;
	color: var(--secondary-black-color);
}

.class-video-container > input {
	display: none;
}

.class-video-container > video {
	width: 100%;
	z-index: 1;
}

.class-video-container.preview {
	border: none;
}

.class-video-container.preview i {
	display: none;
}

.thumbnail {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-btns {
	position: absolute;
	left: 0;
	bottom: -75px;
	color: var(--secondary-black-color);
	font-size: 1.375em;
	opacity: 0;
	transition: 0.4s;
	display: flex;
	flex-direction: column;
}

.class-video-container.preview ~ .video-btns {
	opacity: 1;
}

.video-btns span {
	margin-top: 10px;
	cursor: pointer;
}

.video-btns span:first-child i {
	color: var(--primary-black-color);
}

.video-btns span:last-child i {
	margin-right: 5px;
	color: var(--red-color);
}

.create-class-btn {
	margin-top: 60px;
	padding: 20px 0;
	width: 250px;
	border: none;
	border-radius: 6px;
	background-color: var(--blue-color);
	color: #fff;
	box-shadow: 0 0 5px 1px var(--blue-color);
	font-size: 1.375em;
	font-weight: bold;
	cursor: pointer;
	transition: 0.4s;
	display: block;
	align-self: center;
}

.create-class-btn:disabled {
	box-shadow: 0 0 0 0;
	background-color: #ccc;
	color: var(--primary-black-color);
	cursor: default;
}

/*#class-description {
	position: relative;
	width: 500px;
	height: 220px;
	border: 1px solid #ccc;
	word-break: break-all;
	overflow: auto;
}*/

#one {
	margin-top: 50px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

.it .btn-orange {
	background-color: transparent;
	border-color: #777 !important;
	color: #777;
	text-align: left;
	width: 100%;
}

.it input.form-control {
	height: 54px;
	border: none;
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}

.it .form-control:focus {
	border-color: #ff4d0d;
	box-shadow: none;
	outline: none;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.it .btn-new, .it .btn-next {
	margin: 30px 0px;
	border-radius: 0px;
	background-color: #333;
	color: #f5f5f5;
	font-size: 16px;
	width: 155px;
}

.it .btn-next {
	background-color: #ff4d0d;
	color: #fff;
}

.it .btn-check {
	cursor: pointer;
	line-height: 54px;
	color: red;
}

.it .uploadDoc {
	margin-bottom: 20px;
}

.it .uploadDoc {
	margin-bottom: 20px;
}

.it .btn-orange img {
	width: 30px;
}

p {
	font-size: 16px;
	text-align: center;
	margin: 30px 0px;
}

.it #uploader .docErr {
	position: absolute;
	right: auto;
	left: 10px;
	top: -56px;
	padding: 10px;
	font-size: 15px;
	background-color: #fff;
	color: red;
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
	display: none;
}

.it #uploader .docErr:after {
	content: '\f0d7';
	display: inline-block;
	font-family: FontAwesome;
	font-size: 50px;
	color: #fff;
	position: absolute;
	left: 30px;
	bottom: -40px;
	text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}