﻿.course-summary {
	position: relative;
	margin-top: 100px;
	padding: 20px;
	width: 90%;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	align-self: center;
}

.course-image {
	width: 500px;
	height: 120px;
	border-radius: 10px;
	overflow: hidden;
	align-self: center;
}

.course-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.course-info {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

.course-name-author {
	display: flex;
	align-items: baseline;
}

.course-name {
	font-size: 30px;
	font-weight: bold;
}

.course-author {
	margin-left: 10px;
	color: #353535;
	font-weight: bold;
}

.course-features {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.course-features i {
	margin-left: 10px;
}

.course-features p {
	margin-left: 5px;
}

.course-desc {
	margin: 15px 0 0 10px;
}

.price-discount {
	margin-top: 10px;
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.course-price {
	font-weight: bold;
}

.discount {
	color: #079e57;
}

.trash {
	position: absolute;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	color: #353535;
}
