﻿@{
    ViewData["Title"] = "Home";

}

<!-- ======================================= SLIDESHOW ======================================= -->
<partial name="_Slider" />
<!-- ====================================== INFORMACOES ====================================== -->
<partial name="_Informacoes" />
<!-- ======================================= QUEM SOMOS ====================================== -->
<partial name="_Quem" />
<!-- ======================================== SERVIÇOS ======================================= -->
<partial name="_Servicos" />
<!-- ======================================== CONTATO ======================================== -->
<partial name="_Contato" />