﻿@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body,
html {
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.page-header {
	width: 100%;
	margin-top: 0px;
	padding: 20px 20px 40px 20px;
	background-color: #456e9c;
}

.page-body {
	width: 60%;
	padding: 40px 100px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info-and-logout {
	width: 100%;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.info-and-logout a:first-child {
	margin-right: 5px;
	color: #fff;
}

.info-and-logout a:last-child {
	margin-left: 5px;
	margin-top: 2px;
	color: #77ceee;
}

.course-main-info {
	margin-left: 20px;
	width: 60%;
}

.course-title {
	color: #ebecf1;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	text-shadow: 0px 3px rgba(0, 0, 0, 0.5);
}

.course-desc {
	color: #9bb0cb;
	font-size: 22px;
	text-align: left;
	margin-left: 10px;
}

.rating {
	margin: 10px 0 0 15px;
	display: flex;
	align-items: center;
}

.rating i {
	color: #f6cf40;
	margin: 0 2px;
}

.rating p {
	margin-left: 5px;
	font-weight: bold;
}

.made-by {
	margin: 5px 0 0 15px;
	color: #ebecf1;
	font-weight: bold;
}

.language {
	margin: 15px 0 0 15px;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.language p {
	margin: 0 15px 0 5px;
}

.language i:nth-child(2) {
	margin-left: 20px;
}

.learn-box {
	padding: 20px 40px;
	background-color: #ebebeb;
	border: 1px solid #000;
	border-radius: 6px;
}

.box-title {
	font-size: 24px;
	font-weight: bolder;
}

.accomplishments {
	margin-top: 20px;
	display: flex;
}

.second-group {
	margin-left: 30px;
}

.desc-title {
	margin-top: 40px;
	align-self: flex-start;
	font-size: 22px;
	font-weight: bold;
}

.course-summary {
	margin-top: 10px;
	text-align: left;
}
