﻿@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	/*min-height: 100vh;*/
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
	width: 100%;
	display: flex;
}

/*.student-side-bar {
	width: 20%;
	height: 100vh;
	background-color: #3c8dbc;
}*/

.teste {
	width: 100%;
	height: 16px;
	background-color: #3c8dbc;
}

.main {
	width: 100%;
	height: 100%;
	padding: 15px;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
}

.page-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-title {
	font-size: 20px;
	color: #696969;
}

.page-path {
	list-style: none;
	margin-top: 10px;
	display: flex;
}

.page-path li {
	margin-right: 5px;
	font-size: 20px;
	font-weight: bold;
}

.log-out {
	text-decoration: none;
	color: #696969;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

	.log-out i {
		margin-left: 5px;
	}

.courses-summary {
	width: 100%;
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
}

.box {
	padding: 10px;
	width: 30%;
	height: 180px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.box-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box-header .bought {
	color: #3c8dbc;
}

.box-header .in-progress {
	color: #e9c46a;
}

.box-header .finished {
	color: #02c39a;
}

.box-header p {
	padding: 5px;
	background-color: #3c8dbc;
	color: #fff;
}

.box-info {
	width: 100%;
	height: 80%;
	padding-left: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.box-info p {
	color: #696969;
	font-size: 20px;
}

.courses-info {
	width: 100%;
	border: 1px solid #3c8dbc;
	border-radius: 8px;
	margin-top: 5%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.border {
	width: 100%;
	height: 30px;
	background-color: #3c8dbc;
}

.section-title {
	width: 100%;
	height: 30px;
	font-size: 20px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-title p {
	margin-left: 5px;
	color: #696969;
}

.pagination {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	font-size: 20px;
	color: #696969;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards-container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.course-card {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f5f5f5;
	display: flex;
}

.course-image {
	height: 100%;
	width: 25%;
	border-radius: 8px;
	overflow: hidden;
}

.course-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.course-main {
	height: 100%;
	width: 75%;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.course-description {
	width: 100%;
	height: 90%;
	display: flex;
}

.basic-info {
	width: 75%;
	height: 100%;
}

.basic-info-header {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.course-name {
	color: #696969;
	font-weight: bold;
}

.levels {
	list-style: none;
	display: flex;
}

.levels li {
	color: #696969;
	margin-left: 10px;
}

.price-and-rating {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.price {
	font-weight: bold;
}

.rating {
	list-style: none;
	display: flex;
}

.rating li {
	color: yellow;
}

.reviews {
	color: #696969;
}

.progress-bar {
	width: 100%;
	height: 10%;
	background-color: #02c39a;
	border-radius: 5px;
}
