﻿* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
}

input,
textarea {
	font-family: 'Source Sans Pro', sans-serif;
}

.create-course-container {
	padding: 30px 20px;
	background-color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create-course-container h1 {
	font-weight: normal;
	font-size: 40px;
}

.orientations {
	margin-top: 30px;
	padding: 20px 70px 70px 60px;
	max-width: 900px;
	width: 100%;
	border-radius: 10px;
	background-color: #456e9d;
	color: #fff;
	box-shadow: 0 0 10px #999;
}

.orientations h2 {
	margin-bottom: 20px;
	font-size: 28px;
}

.orientations-main-info {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.orientations-label {
	display: flex;
	align-items: center;
}

.orientations-label p {
	margin-left: 10px;
	font-size: 20px;
}

.form {
	margin-top: 80px;
	max-width: 900px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.input-container {
	position: relative;
	margin-bottom: 30px;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.input-container label {
	margin-bottom: 15px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 22px;
	font-weight: bold;
}

.input-container input[type='text'] {
	padding: 0 10px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 6px;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
}

.input-container textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 6px;
	resize: none;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
}

#character-count {
	margin-top: 3px;
	color: rgba(0, 0, 0, 0.4);
	align-self: flex-end;
}

.class-image-container {
	max-width: 200px;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.class-image-container > i {
	font-size: 60px;
	color: var(--secondary-black-color);
}

.class-image-container > input {
	display: none;
}

.class-image-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.class-image-container.preview i {
	display: none;
}

.image-btns {
	position: absolute;
	right: 100px;
	bottom: 0;
	color: var(--secondary-black-color);
	font-size: 1.375em;
	opacity: 0;
	transition: 0.4s;
	display: flex;
	flex-direction: column;
}

.class-image-container.preview ~ .image-btns {
	opacity: 1;
}

.image-btns span {
	margin-top: 10px;
	cursor: pointer;
}

.image-btns span:first-child i {
	color: var(--primary-black-color);
}

.image-btns span:last-child i {
	margin-right: 5px;
	color: var(--red-color);
}

.radio-container {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.radio-container input[type='radio'] {
	transform: scale(1.5);
}

.radio-container label {
	font-size: 20px;
}

#free-label {
	margin: 0 0 0 15px;
	color: #1ece8f;
}

#paid-label {
	margin: 0 0 0 15px;
	color: #456e9d;
}

.two-inputs-container {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.two-inputs-container label {
	margin: 0;
	font-size: 18px;
}

#firstModule {
	margin: 0 10px;
	height: 40px;
	width: 350px;
	font-size: 18px;
}

#secondModule {
	margin: 0 10px;
	height: 40px;
	width: 350px;
	font-size: 18px;
}

#thirdModule {
	margin: 0 10px;
	height: 40px;
	width: 350px;
	font-size: 18px;
}

.two-inputs-container input[type='text']:last-child {
	padding: 0 10px;
	margin: 0 10px;
	width: 80px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 6px;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 18px;
}

.add-class-container {
	padding: 40px 0;
	min-height: 100vh;
}

.radio-container label {
	margin: 0 0 0 5px;
	color: rgba(0, 0, 0, 0.4);
	font-size: 20px;
	display: flex;
	align-items: center;
}

.add-class-wrapper {
	min-height: 100vh;
}

.flag {
	margin: 0 5px 0 15px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	overflow: hidden;
}

.flag img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.create-course-btn {
	padding: 20px 0;
	width: 250px;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 0 0 6px #000;
	background-color: #456e9d;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
	align-self: center;
}