﻿@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
	font-family: 'Source Sans Pro', sans-serif;
}

.floating-card {
	position: absolute;
	top: 20%;
	right: 10%;
	width: 370px;
	padding: 4px;
	background-color: #ebebeb;
	border: 1px solid #000;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-container {
	width: 100%;
	height: 200px;
	border: 1px solid #000;
	border-radius: 6px;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-main {
	margin-top: 10px;
	width: 100%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}

.course-price {
	color: #00ff21;
	font-size: 40px;
	font-weight: bold;
}

.course-levels {
	margin: 5px 0 0 20px;
	color: #353535;
}

	.course-levels i {
		color: #000;
	}

.buy-btn {
	align-self: center;
	margin: 20px 0;
	padding: 15px 0;
	width: 80%;
	border: none;
	border-radius: 6px;
	background-color: #c64c4b;
	color: #000;
	/*font-size: 24px;*/
	font-weight: bold;
	cursor: pointer;
}

.btn-comprar {
	/*font-size: 24px;*/
}

.content {
	margin-left: 20px;
}

.content h2 {
	color: #353535;
	margin-bottom: 15px;
}

.course-content {
	margin: 5px 0px 5px 15px;
	color: #353535;
	display: flex;
	align-items: center;
}

.course-content i {
	margin-right: 15px;
	color: #000;
}

.share {
	text-align: center;
	align-self: center;
	margin: 20px 0;
	padding: 15px 0;
	width: 80%;
	border: 1px solid #353535;
	border-radius: 6px;
	color: #000;
	font-size: 24px;
	font-weight: bold;
}

.share i {
	margin-right: 10px;
}
