﻿@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body,
html {
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f3f3f3;
	padding: 30px 50px;
}

.almost-there {
	font-size: 30px;
	font-weight: bold;
}

.content {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main-info {
	padding: 20px;
	width: 70%;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}

.progress-bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.progress-bar-component {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.progress-bar-title {
	color: #353535;
	font-weight: bold;
}

.progress-circle {
	margin-top: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #e3e3e3;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.checked {
	background-color: #079e57;
}

.bar {
	margin-top: 25px;
	width: 30%;
	height: 15px;
	border-radius: 10px;
	background-color: #e3e3e3;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.full {
	background-color: #476d9a;
}

.payment-title {
	margin-top: 60px;
	font-size: 25px;
	font-weight: bold;
}

.radio-buttons {
	margin: 30px 0 0 10px;
	width: 250px;
	display: flex;
	justify-content: space-between;
}

.radio {
	display: flex;
	align-items: center;
}

.radio label {
	margin-left: 5px;
}

.finish {
	width: 25%;
	height: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.details {
	width: 100%;
	height: 400px;
	background-color: #fff;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.border {
	width: 100%;
	height: 25px;
	background-color: #476d9a;
}

.checkout-details-title {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}

.label-and-value {
	margin: 10px 0;	
	padding: 0 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.value {
	font-weight: bold;
}

.add-discount {
	text-decoration: underline;
	color: #476d9a;
	font-weight: bold;
	cursor: pointer;
}

.secondary-border {
	margin: 20px 0 30px 0;
	width: 90%;
	height: 1px;
	border-radius: 6px;
	background-color: #f9f9f9;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.total-value-with-discount {
	margin: 10px 0 20px 0;
	padding: 10px 15px;
	width: 90%;
	background-color: #c9efdd;
	display: flex;
	justify-content: space-between;
}

.total-label,
.total-price {
	font-size: 12px;
	color: #079e57;
}

.total-price {
	font-weight: bold;
}

.finish-btn {
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	background-color: #079e57;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

.label-cupom {
	color:black;
}

.label-deconto {
	color: black;
}

.label-total {
	color: black;
}

.label-preco {
	color: black;
}