﻿.payment-options-card,
.payment-options-paypal {
	margin-top: 30px;
	width: 100%;
	display: flex;
}

.all-cards-here {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.all-cards-here.two {
	margin-top: 20px;
	max-width: 1057px;
	width: 100%;
	display: none;
}

.payment-options-paypal {
	display: none;
}

.card,
.paypal {
	margin-right: 20px;
	padding: 20px;
	width: 32%;
	border: 1px solid #ccc;
	border-radius: 20px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.card i,
.paypal i {
	color: #079e57;
	display: none;
}

.flag-and-type {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flag-and-type img {
	width: 50px;
}

.card-type {
	margin-right: 5px;
	font-size: 15px;
	font-weight: bold;
}

.card-number {
	margin: 20px 0;
	font-weight: bold;
}

.vality {
	color: #ccc;
}

.card.card-selected i,
.paypal.card-selected i {
	display: flex;
}

.card-selected {
	border: 1px solid #079e57;
}

.new-card,
.new-paypal {
	padding: 30px;
	height: 172px;
	border: 1px solid #ccc;
	border-radius: 20px;
	background-color: #f3f3f3;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.new-card i,
.new-paypal i {
	margin-bottom: 10px;
	font-size: 40px;
	color: #353535;
}

.new-card p,
.new-paypal p {
	color: #353535;
	font-size: 16px;
	font-weight: bold;
}

.new-card-form {
	margin: 30px 0 0 20px;
	width: 400px;
	display: none;
	flex-direction: column;
}

.new-card-form input {
	margin-top: 5px;
	padding: 10px;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

.new-card-form input:focus {
	outline: none !important;
	border: 1px solid #476d9a;
}

.row-inputs {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.another-row {
	display: flex;
}

.another-row select {
	margin: 5px 10px 0 0;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-family: 'Source Sans Pro', sans-serif;
}

.another-row select:focus {
	outline: none !important;
	border: 1px solid #476d9a;
}

.security-number {
	display: flex;
	flex-direction: column;
}

.form-btns {
	margin-top: 20px;
	align-self: flex-end;
}

.register-new-card-btn {
	margin-left: 15px;
	padding: 10px 30px;
	border: none;
	border-radius: 6px;
	background-color: #079e57;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.cancel-btn {
	margin-left: 15px;
	padding: 10px 30px;
	border: none;
	border-radius: 6px;
	background-color: #e63946;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.fas.fa-chevron-down.dropdown,
.fas.fa-chevron-up.dropdown {
	margin-top: 20px;
	align-self: center;
	color: #476d9a;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	display: none;
}
