﻿body {
	background-color: #1a2226;
}

.container-video {
	display: flex;
	background: #1a2226;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.video {
	width: 100%
}

.c-video {
	width: 100%;
	max-width: 800px;
	position: absolute;
	overflow: hidden;
	left: 5%;
	top: 15%;
}

.container-modulos-Cursos {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 1px;
	border-style: solid;
	border-color: black;
	width: 300px;
	height: 700px;
	background: #fff;
	left: 72%;
	top: 15%;
}
.container-titulo-conteudo-curso {
	position: absolute;
	justify-content: center;
	color: black;
	border: solid;
	border-radius: 10px;
	display: flex;
	height: 680px;
	width: 280px;
	left: 3%;
	top: 1%;
}

.c-video:hover .controls {
	transform:translateY(0);
}

.controls {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.7);
	transform: translateY(100%) translateY(-5px);
	transition: all 0.2s;
}

.buttons button {
	background: none;
	border: 0;
	outline: 0;
	cursor:pointer;
}

.buttons button:before {
	content:'\f144';
	font-family: "FontAwesome";
	width: 30px;
	height: 30px;
	display: inline-block;
	font-size: 28px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

.buttons button.play:before {
	content: '\f144';
}

.buttons button.pause:before {
	content: '\f28b';
}

.orange-bar-div {
	height: 10px;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
}

.orange-juice-bar {
	height: 10px;
	background-color: orangered;
}

.container-titulo-curso {
	position: absolute;
	color: aliceblue;
	left: 5%;
	top: 1%;
}

.progress-bar-curso {
	position: absolute;
	background-color: blue;
	border-radius: 10px;
	height: 5px;
	width:600px;
	left: 5%;
	top: 10%;
}

.progress-bar-background {
	position: absolute;
	background-color: darkgray;
	border-radius: 10px;
	height: 5px;
	width: 1000px;
	left: 5%;
	top: 10%;
}

.porcetagem-curso {
	position: absolute;
	color: darkgray;
	left: 80%;
	top: 9%;
}