﻿@model EfacilCursos_Homologacao.Models.AcessoModel
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
	<!--===============================================================================================-->
</head>
<body>
	<div class="container">
		<form asp-action="Index">
			@Html.Hidden("returnUrl", ViewBag.returnUrl as string)
			@if (ViewBag.Messagen != null)
			{
				<p class="text-danger">@ViewBag.Messagen</p>
			}
		</form>
	</div>
	@RenderBody()
<div class="limiter">
	@Html.Hidden("returnUrl", ViewBag.returnUrl as string)
	@if (ViewBag.Messagen != null)
	{
		<p class="text-danger">@ViewBag.Messagen</p>
	}
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="~/images/img-01.png" alt="IMG">
			</div>
			<form class="login100-form validate-form">
				<span class="login100-form-title">
					Efacil Cursos
				</span>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
					<input asp-for="Email" type="text" class="input100" name="email" placeholder="Email" />
					<span asp-validation-for="Email" class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<input asp-for="Senha" type="password" class="input100" name="pass" placeholder="Senha" />
					<span asp-validation-for="Senha" class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				<div class="container-login100-form-btn">
					@*<input type="submit" value="Entrar" class="login100-form-btn" />*@
					<input type="button" value="Entrar" class="login100-form-btn" onclick="@("window.location.href='" + @Url.Action("HomeCursos", "Acesso") + "'");" />
				</div>
				<div class="text-center p-t-12">
					<span class="txt1">
						@*Forgot*@
					</span>
					<a class="txt2" href="#">
						@*Username / Password?*@
					</a>
				</div>
				<div class="text-center p-t-90">
					<a class="txt2" asp-action="SelecionaTipoCadastroUsuario" >
						Criar nova Conta
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
	<!--===============================================================================================-->
	<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/js/main.js"></script>
</body>
</html>