﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
		  rel="stylesheet" />
	<link rel="stylesheet" href="~/cssSelecionaTipoUsuario/StyleSelecionaTipoUsuario.css" />
	<script src="https://kit.fontawesome.com/008a52c14b.js"
			crossorigin="anonymous"></script>
	<title>EFacil Cursos | Tipo de Usuário</title>
</head>
<body>
	@RenderBody()
	<div class="container-login">
		<header class="page-header">
			<a href="@Url.Action("index", "Acesso")"><h1>Efacil Cursos</h1></a>
			<a href="@Url.Action("index", "Acesso")">
				<div class="circle-icon">
					<i class="fas fa-arrow-left"></i>
				</div>
			</a>
		</header>
		<div class="main-content">
			<h1 class="role-question">
				O que você será?...
			</h1>
			<div class="cards-container">
				<div class="card-and-pop-up">
					<div class="card" id="student-card">
						<div class="label"><p>Aluno</p></div>
						<div class="card-main-content">
							<i class="fas fa-user"></i>
						</div>
					</div>
					<i class="far fa-question-circle question-mark"></i>
					<div class="pop-up">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
						quisquam obcaecati voluptatibus soluta consequatur, incidunt
						eveniet dicta. Culpa sint porro eligendi beatae, excepturi officia
						facilis sit voluptate libero at error!
					</div>
				</div>
				<div class="card-and-pop-up">
					<div class="card" id="teacher-card">
						<div class="label"><p>Professor</p></div>
						<div class="card-main-content">
							<i class="fas fa-user-tie"></i>
						</div>
					</div>
					<i class="far fa-question-circle question-mark"></i>
					<div class="pop-up">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
						quisquam obcaecati voluptatibus soluta consequatur, incidunt
						eveniet dicta. Culpa sint porro eligendi beatae, excepturi officia
						facilis sit voluptate libero at error!
					</div>
				</div>
			</div>
			<button disabled class="register-btn">
				@*Cadastrar-se
				<div class="circle-icon">
					<i class="fas fa-arrow-right"></i>
				</div>*@
			</button>
		</div>
	</div>
	<script src="~/jsSelecionaTipoUsuario/ScriptSelecionaTipoUsuario.js"></script>
</body>
</html>