﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">

    <title>@ViewBag.Title - Painel Administrativo</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Efacil Cursos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", title = "Voltar ao site" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a></li>
                    <li><a asp-area="" asp-controller="Professor" asp-action="Index">Professor</a></li>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["Sucesso"] != null)
        {
            <br />
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Sucesso"]
            </div>
        }

        @if (TempData["Erro"] != null)
        {
            <br />
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @TempData["Erro"]
            </div>
        }

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EFcacilCursos</p>
        </footer>
    </div>
  
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script src="~/js/mvc-grid/mvc-grid.util.js"></script>
</body>
</html>
