﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    @{await Html.RenderPartialAsync("_Head");}
</head>

<body id="page-top">

     @*============================================================ NAV ============================================================*@ 
    @*@{await Html.RenderPartialAsync("_Nav");}*@
     @*============================================================ BANNER ============================================================*@ 
    @RenderSection("Banner", false)
     @*============================================================ SCRIPTS ============================================================*@ 
    @{await Html.RenderPartialAsync("_Scripts");}
     @*============================================================ CONTENT ============================================================*@ 
    @RenderBody()
     @*============================================================ FOOTER ============================================================*@ 
    @{await Html.RenderPartialAsync("_Footer");}
</body>
</html>