﻿* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
}

input,
textarea,
button {
	font-family: 'Source Sans Pro', sans-serif;
}

.edit-course-container {
	padding: 30px 20px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.edit-course-container h1 {
	font-weight: normal;
	font-size: 40px;
}

.orientations {
	margin-top: 30px;
	padding: 20px 70px 70px 60px;
	max-width: 900px;
	width: 100%;
	border-radius: 10px;
	background-color: #456e9d;
	color: #fff;
	box-shadow: 0 0 10px #999;
}

.orientations h2 {
	margin-bottom: 20px;
	font-size: 28px;
}

.orientations-main-info {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.orientations-label {
	display: flex;
	align-items: center;
}

.orientations-label p {
	margin-left: 10px;
	font-size: 20px;
}

.form {
	margin-top: 80px;
	max-width: 900px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.input-container {
	position: relative;
	margin-bottom: 30px;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.input-container label {
	margin-bottom: 15px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 22px;
	font-weight: bold;
}

.input-container input[type='text'] {
	padding: 0 10px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 6px;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
}

.input-container textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 6px;
	resize: none;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
}

#character-count {
	margin-top: 3px;
	color: rgba(0, 0, 0, 0.4);
	align-self: flex-end;
}

.image-input {
	width: 200px;
	height: 150px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image-input i {
	font-size: 60px;
	color: rgba(0, 0, 0, 0.4);
}

.image-input input[type='file'] {
	opacity: 0;
}

.edit-delete-image {
	position: absolute;
	right: 100px;
	bottom: 0px;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
	transition: 0.4s;
	opacity: 0;
}

#edit-image,
#delete-image {
	cursor: default;
}

.edit-delete-image #edit-image i {
	color: #000;
}

.edit-delete-image #delete-image i {
	margin-right: 6px;
	color: #df2424;
}

.image-input.preview i,
.image-input.preview p,
.image-input.preview input[type='file'] {
	display: none;
}

.image-input.preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-input.preview ~ .edit-delete-image {
	opacity: 1;
}

.image-input.preview ~ .edit-delete-image #edit-image,
.image-input.preview ~ .edit-delete-image #delete-image {
	cursor: pointer;
}

.radio-container {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

#free-label {
	margin: 0 0 0 15px;
	color: #1ece8f;
}

#paid-label {
	margin: 0 0 0 15px;
	color: #456e9d;
}

.radio-container input[type='radio'] {
	transform: scale(1.5);
}

.radio-container label {
	margin-left: 15px;
	font-size: 20px;
}

.radio-container:nth-child(2) span {
	color: #1ece8f;
}

.radio-container:nth-child(3) span {
	color: #456e9d;
}

.input-container:nth-child(5),
.input-container:nth-child(7) {
	width: 100%;
}

.two-inputs-container {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.two-inputs-container label {
	margin: 0;
	font-size: 21px;
}

.two-inputs-container input[type='text'] {
	margin: 0 15px;
	height: 40px;
	width: 400px;
	font-size: 18px;
	transition: 0.4s;
}

.two-inputs-container input[type='text']:disabled {
	background-color: rgba(0, 0, 0, 9%);
}

.two-inputs-container input[type='text']:nth-child(4) {
	padding: 0 10px;
	margin: 0 10px;
	width: 80px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 6px;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 18px;
	transition: 0.4s;
}

.radio-container label {
	margin: 0;
	color: rgba(0, 0, 0, 0.4);
	font-size: 20px;
	display: flex;
	align-items: center;
}

.flag {
	margin: 0 5px 0 15px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	overflow: hidden;
}

	.flag img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

.edit-course-btn {
	padding: 20px 0;
	width: 250px;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 0 0 6px #000;
	background-color: #456e9d;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
	align-self: center;
}

#edit-pencil {
	margin: 0 22px 0 5px;
	font-size: 22px;
	cursor: pointer;
}

#save-edit {
	color: #456e9d;
	font-size: 22px;
	transition: 0.4s;
	opacity: 0;
}

/* Listagem das aulas */

.classes {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
}

.class-basic-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.class-cards {
	margin-top: 12px;
	display: flex;
	flex-direction: column;
}

.class-card {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 6px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.class-image {
	width: 180px;
	height: 60px;
	border-radius: 6px;
	overflow: hidden;
}

.class-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.class-card > p {
	font-size: 1.375em;
	font-weight: bold;
}

.class-card > i {
	font-size: 2.5em;
	color: #df2424;
	cursor: pointer;
}

.status-pending {
	display: flex;
	align-items: center;
}

.status-pending > p {
	margin-left: 10px;
	text-align: center;
}

.status-pending > i {
	font-size: 1.5em;
}

/* Modal de exclusão da aula */

.delete-class-modal-container {
	z-index: 10;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(74, 74, 74, 0.3);
	display: none;
}

.active-aula {
	display: flex;
	align-items: center;
	justify-content: center;
}

.delete-class-modal {
	padding: 50px;
	max-width: 800px;
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px #808080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.delete-class-modal > i {
	font-size: 6.25em;
	color: #e9e350;
}

.delete-class-modal > h1 {
	margin: 15px 0;
}

.reason-container {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reason-container > label {
	margin-bottom: 5px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 1.375em;
}

.reason-container > label span {
	color: #df2424;
}

.reason-container > textarea {
	padding: 15px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 6px;
	resize: none;
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 22px;
}

.reason-container > small {
	align-self: flex-end;
}

.delete-class-btns {
	margin-top: 20px;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-class-btns > button {
	background-color: #df2424;
	align-self: flex-end;
}

.delete-class-btns button {
	padding: 10px;
	width: 200px;
	outline: none;
	border: none;
	border-radius: 6px;
	color: #fff;
	font-size: 1.375em;
	cursor: pointer;
}

.confirm-delete {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.confirm-delete > button {
	margin-top: 10px;
	background-color: #1ece8f;
	transition: 0.4s;
}

.confirm-delete > button:disabled {
	background-color: #ccc;
	cursor: default;
}