﻿.disable-modal-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(74, 74, 74, 0.3);
	display: none;
}

.disable-modal {
	padding: 50px;
	max-width: 800px;
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px #808080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.disable-modal i {
	font-size: 100px;
	color: #e9e350;
}

.disable-modal h1 {
	margin-top: 15px;
}

.radio-btns {
	margin-top: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.radio-container {
	display: flex;
	align-items: center;
}

.radio-container input[type='radio'] {
	transform: scale(1.4);
}

.radio-container label {
	margin-left: 15px;
	font-size: 22px;
}

.disable-modal-btns {
	margin-top: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#confirm-disable-modal-btn,
#no-disable-modal-btn {
	padding: 10px;
	width: 200px;
	outline: none;
	border: none;
	border-radius: 6px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

#confirm-disable-modal-btn {
	background-color: #1ece8f;
	transition: 0.4s;
}

#confirm-disable-modal-btn:disabled {
	cursor: default;
	background-color: rgba(0, 0, 0, 0.4);
}

#no-disable-modal-btn {
	background-color: #c53030;
}
