﻿.activate-modal-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(74, 74, 74, 0.3);
	display: none;
}

.activate-modal {
	padding: 50px;
	max-width: 800px;
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px #808080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.activate-modal i {
	font-size: 100px;
	color: #e9e350;
}

.activate-modal h1 {
	margin-top: 15px;
}

.activate-modal-btns {
	margin-top: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#confirm-activate-modal-btn,
#no-activate-modal-btn {
	padding: 10px;
	width: 200px;
	outline: none;
	border: none;
	border-radius: 6px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

#confirm-activate-modal-btn {
	background-color: #1ece8f;
}

#no-activate-modal-btn {
	background-color: #c53030;
}
