﻿@{
	ViewData["Title"] = "Aulas do Curso";
	Layout = "~/Views/Shared/_LayoutAulasCurso.cshtml";
}
<!-- #region LINKS, META, SCRIPT LINK -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
<link href="~/cssAulasCurso/StyleAulasCurso.css" rel="stylesheet" />
<title>EFacil Cursos | Aulas</title>
<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
<!-- #endregion -->

@if (ViewBag.AulaCursoCount == 0)
{
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title" style="display:flex; align-items:center; justify-content:center;"><strong>Não há Aulas cadastradas à este Curso</strong></h3>
		</div>
		<div class="box-body">
			<table class="table table-bordered">
				<tr>
					<th style="display:flex; justify-content:center;">Aulas</th>
				</tr>
				<tr>
					<td style="display:flex; justify-content:center;">
						<div class="image-container-nao-ha">
							<img src="~/admin-lte/img/not-applicable.png" />
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
}
else
{
	foreach (var item in ViewBag.AulaCurso)
	{
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title" style="display:flex; align-items:center; justify-content:center;"><strong>@item.Titulo</strong></h3>
			</div>
			<div class="box-body">
				<table class="table table-bordered">
					<tr>
						<th style="display:flex; justify-content:center;">Aula</th>
						<th style="justify-content:center;"></th>
						<th style="display:flex; justify-content:center;">Ação</th>
						<th style="justify-content:center;"></th>
						<th style="display:flex; justify-content:center;">Apostila </th>
					</tr>
					<tr>
						<td>
							<div class="image-container">
								<img src="~/Arquivos/Arquivos_Usuario/Recebidos/@Url.Content(@item.CaminhaoImagem)" />
							</div>
						</td>
						<td>
							<h4>@item.Descricao</h4>
							<div class="progress progress-xs">
								<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
							</div>
						</td>
						<td>
							<div align="center">
								<a href="@Url.Action("PlayerVideoCurso", "Acesso", new { CursoId = item.CursoId, Id_Aula = item.Id_Aula })" class="btn btn-app">
									<i class="fa fa-play"></i>
									Assistir
								</a>
							</div>
						</td>
						<td>
						</td>
						<td>
							<a href="~/Arquivos/Arquivos_Usuario/Recebidos/@Url.Content(item.CaminhArquivo)" target="_blank" class="btn btn-app">
								<i class="fa  fa-download"></i>
								Baixar
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	}
}
@*<div class="box-footer clearfix">
		<ul class="pagination pagination-sm no-margin pull-right">
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>*@