﻿@{
	ViewData["Title"] = "CheckoutScreen";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/cssCheckoutScreen/StyleCheckoutScreen.css" />
	<link rel="stylesheet" href="~/cssCheckoutScreen/StyleCartoes.css" />
	<link rel="stylesheet" href="~/cssCheckoutScreen/StyleSumarioCurso.css" />
	<link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
</head>
<body>
	<p class="almost-there">Você está quase lá...!</p>

	<div class="content">
		<div class="main-info">
			<div class="progress-bar">
				<div class="progress-bar-component">
					<p class="progress-bar-title">Escolher curso</p>
					<div class="progress-circle checked">
						<i class="fas fa-check"></i>
					</div>
				</div>

				<div class="bar full"></div>

				<div class="progress-bar-component">
					<p class="progress-bar-title">Checkout</p>
					<div class="progress-circle"></div>
				</div>

				<div class="bar"></div>

				<div class="progress-bar-component">
					<p class="progress-bar-title">Confirmado!</p>
					<div class="progress-circle"></div>
				</div>
			</div>

			<div class="course-summary">
				<div class="course-image">
					<img src="https://www.gyanblog.com/assets/img/2018/05/php.png"
						 alt="" />
				</div>

				<div class="course-info">
					<div class="course-name-author">
						<p class="course-name">Curso Completo PHP 7</p>
						<small class="course-author">By Jalim Rabei</small>
					</div>
					<div class="course-features">
						<i class="fas fa-desktop"></i>
						<p>68 Aulas</p>

						<i class="far fa-clock"></i>
						<p>36 Horas</p>

						<i class="fas fa-infinity"></i>
						<p>Acesso Vitalício</p>
					</div>
					<p class="course-desc">
						Torne-se um Desenvolvedor PHP, aprenda com dois especialistas a
						programar do básico ao avançado em um projeto completo.
					</p>

					<div class="price-discount">
						<p class="course-price">
							R$ xxx,xx
						</p>

						<div class="discount">
							15% off
						</div>
					</div>
				</div>
				<i class="far fa-trash-alt trash"></i>
			</div>

			<p class="payment-title">
				Opções de pagamento
			</p>

			<div class="radio-buttons">
				<div class="radio">
					<input type="radio" name="payment" id="creditCard" checked />
					<label for="card">Crédito/Débito</label>
				</div>
				<div class="radio">
					<input type="radio" name="payment" id="paypal" />
					<label for="paypal">Paypal</label>
				</div>
			</div>

			<div class="payment-options-card">
				<div class="all-cards-here">
					<h1>Nenhum cartão adicionado ainda!</h1>
				</div>
				<div class="new-card">
					<i class="far fa-plus-square"></i>
					<p>Crédito/Débito</p>
				</div>
			</div>
			<div class="all-cards-here two"></div>

			<form class="new-card-form">
				<label for="card-number">Número do Cartão</label>
				<input type="text"
					   name="card-number"
					   id="card-number"
					   class="card-number" />
				<div class="row-inputs">
					<div class="card-vality">
						<label for="card-vality">Vencimento</label>
						<div class="another-row">
							<select name="card-vality" id="select-month">
								<option value="0" disabled selected>Mês</option>
								<option value="1">Janeiro</option>
								<option value="2">Fevereiro</option>
								<option value="3">Março</option>
								<option value="4">Abril</option>
								<option value="5">Maio</option>
								<option value="6">Junho</option>
								<option value="7">Julho</option>
								<option value="8">Agosto</option>
								<option value="9">Setembro</option>
								<option value="10">Outubro</option>
								<option value="11">Novembro</option>
								<option value="12">Dezembro</option>
							</select>
							<select name="card-vality" id="select-year">
								<option value="0" disabled selected>Ano</option>
								<option value="21">2021</option>
								<option value="22">2022</option>
								<option value="23">2023</option>
								<option value="24">2024</option>
								<option value="25">2025</option>
								<option value="26">2026</option>
								<option value="27">2027</option>
								<option value="28">2028</option>
							</select>
						</div>
					</div>
					<div class="security-number">
						<label for="security-number">Código de Segurança</label>
						<input type="text"
							   name="security-number"
							   id="security-number"
							   maxlength="3" />
					</div>
				</div>
				<div class="form-btns">
					<button class="cancel-btn" type="button">
						Cancelar
					</button>
					<button class="register-new-card-btn" type="submit">
						Adicionar
					</button>
				</div>
			</form>

			<div class="payment-options-paypal">
				<!-- Cartão Paypal -->
				<!-- <div class="paypal">
				  <div class="flag-and-type">
					<img
					  src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/PayPal_Logo_Icon_2014.svg/1200px-PayPal_Logo_Icon_2014.svg.png"
					  alt=""
					/>
				  </div>
				  <p class="card-number">
					gmail.com
				  </p>
				  <p class="vality">
					Power Guido
				  </p>
				</div> -->

				<div class="new-paypal">
					<i class="far fa-plus-square"></i>
					<p>Conta Paypal</p>
				</div>
			</div>
			<i class="fas fa-chevron-down dropdown"></i>
		</div>
		<div class="finish">
			<div class="details">
				<div class="border"></div>
				<p class="checkout-details-title">Detalhes da Compra</p>
				@*<div class="secondary-border"></div>*@
				<div class="label-and-value">
					<p class="label-preco">Preço</p>
					<p class="value">R$ xxx.xx</p>
				</div>
				<div class="label-and-value">
					<p class="label-cupom">Cupom de Desconto</p>
					<p class="add-discount">Adicionar</p>
				</div>
				<div class="label-and-value">
					<p class="label-deconto">Desconto</p>
					<p class="value">R$ xxx.xx</p>
				</div>
				<div class="secondary-border"></div>
				<div class="label-and-value">
					<p class="label-total">Total</p>
					<p class="value">R$ xxx.xx</p>
				</div>

				<div class="total-value-with-discount">
					<p class="total-label">
						Preço total de descontos
					</p>

					<p class="total-price">
						R$ xxx.xx
					</p>
				</div>
			</div>
			<button class="finish-btn">Confirmar Pagamento</button>
		</div>
	</div>

	<!-- Script da máscara do cartão -->
	<script src="~/jsCheckoutScreen/cleave.js"></script>
	<script src="~/jsCheckoutScreen/paymentOption.js"></script>
	<script src="~/jsCheckoutScreen/creditCard.js"></script>
	<script src="~/jsCheckoutScreen/paypal.js"></script>
</body>
</html>
