﻿@{
	ViewData["Title"] = "CursoCriadoSucesso";
	//Layout = "~/Views/Shared/_LayoutCursoCriadoSucesso.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region LINKS, META, SCRIPT LINK -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="~/cssCursoCriadoSucesso/StyleCursoCriadoSucesso.css" />
		<title>EFacil Cursos | Curso Criado</title>
		<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<!-- #endregion -->
</head>
<body>
	<div class="modal-container">
		<div class="modal">
			<i class="far fa-laugh"></i>
			<p>Parabéns!! Você criou um novo curso.</p>
			<button type="button" id="close-modal">Continuar</button>
		</div>
	</div>
	<div class="success-course-container">
		<div class="blue-border"></div>
		<h1><i class="fas fa-graduation-cap"></i> Meus Cursos</h1>
		<div class="cards-container">
			<p class="total-courses">
				<strong>Total de Cursos:</strong> <span>1</span>
			</p>
			<div class="course-card">
				<p class="new">Novo!</p>
				<div class="image-container">
					<i class="fas fa-bookmark"></i>
					<img src="https://cdn.melhoreshospedagemdesites.com/wp/wp-content/uploads/2019/06/php.jpg" alt="" />
				</div>
				<div class="course-info">
					<p class="course-title">Curso Completo PHP 7</p>
					<p class="course-description">
						Torne-se um desenvolvedor PHP, aprenda com dois especialistas a
						programar do básico ao avançado em um projeto completo.
					</p>
					<div class="course-status">
						<div class="circle"></div>
						Pendente
					</div>
				</div>
				<div class="course-summary">
					<div class="label-and-icon">
						<i class="fas fa-graduation-cap"></i>
						<p>3 Níveis</p>
						<i class="fas fa-bars"></i>
						<p>3 Módulos</p>
					</div>
					<div class="label-and-icon">
						<i class="fas fa-comment"></i>
						<p>Português-BR</p>
						<i class="fas fa-closed-captioning"></i>
						<p>Português-BR</p>
					</div>
				</div>
				<div class="pending-container">
					<div class="clock-icon">
						<i class="far fa-clock"></i>
					</div>
					<div class="pending-info">
						<p>Sua solicitação foi enviada</p>
						<p>7 dias para aprovação</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/jsCursoCriadoSucesso/ScriptCursoCriadoSucesso.js"></script>
</body>
</html>
