﻿@{
	ViewData["Title"] = "DetalheCursos";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region LINKS, META, SCRIPT LINK -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/cssDetalhesCursos/DetalhesCursosStyle.css" />
	<link rel="stylesheet" href="~/cssDetalhesCursos/FloattingCardStyle.css" />
	<link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="~/jsDetallheCursos/ScriptDetalhesCursos.js"></script>
	<!-- #endregion -->
</head>
<body>

	@using (Html.BeginForm("DetalheCursos", "Acesso", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		foreach (var item in ViewBag.Curso)
		{
			<div class="page-header">
				<div class="course-main-info">
					<p class="course-title">@item.Nome</p>

					<p class="course-desc">
						@item.SubTitulo
					</p>
					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star-half"></i>
						<p>4,5</p>
						<p>(10,677)</p>
					</div>
					<p class="made-by">Criado por Jacob Navarro</p>

					<div class="language">
						<i class="fas fa-comment"></i>
						<p>Português-BR</p>
						<i class="fas fa-closed-captioning"></i>
						<p>Português-BR</p>
						<p>[Gerada automaticamente]</p>
					</div>
				</div>
			</div>
			<div class="page-body">
				<div class="learn-box">
					<p class="box-title">O que você aprenderá</p>
					<div class="accomplishments">
						<div class="first-group">
							<p>Tudo que vc precisa saber para construir aplicações modernas para Web.</p>
							<br />
							<p>Últimos recursos de HTML, CSS, Javascript e vários frameworks.</p>
							<br />
							<p>Aprender CSS 3 e como aplicar estilo usando as últimas tecnologias: CSS Grid, Flexbox e muito mais</p>
							<br />
						</div>
						<div class="second-group">
							<p>Entendenda os paradigmas de programação usados na Web Moderna: Funcional, Orientação a Objeto etc</p>
							<br />
							<p>Use MySQL, Postgres e MongoDB.</p>
							<br />
						</div>
					</div>
				</div>

				<p class="desc-title">Descrição</p>
				<p class="course-summary">
					@item.Descricao
				</p>
			</div>
			<div class="floating-card">
				<div class="image-container">
					<img src="~/Arquivos/Arquivos_Usuario/Recebidos/@Url.Content(@item.EnderecoImagem)" />
				</div>
				<div class="card-main">
					<p class="course-price">@item.Nivel</p>
					<p class="course-levels">
						<i class="fas fa-graduation-cap"></i> 3 Módulos + Prova
					</p>
					<input type="submit" value="Adquirir" class="buy-btn" Onclick="alertTeste();" onclick="@("window.location.href='" + @Url.Action("DetalheCursos", "Acesso", new { id = item.Id }) + "'");" />
					<div class="content">
						<h2>Conteúdo</h2>
						<p class="course-content"><i class="far fa-clock-o"></i> 36 horas</p>
						<p class="course-content">
							<i class="fas fa-infinity"></i> Acesso Vitalício
						</p>
						<p class="course-content">
							<i class="fas fa-mobile"></i> Acesso No Dispositivo Móvel
						</p>
						<p class="course-content">
							<i class="fas fa-download"></i> Material Disponível Para Download
						</p>
					</div>
					<a href="#" class="share">
						<i class="fas fa-share"></i>
						Compartilhar
					</a>
				</div>
			</div>
		}
	}
</body>
</html>
