﻿@{
	ViewBag.Title = "EnviarArquivo";
	Layout = "~/Views/Shared/_LayoutProfessorAdicionaAula.cshtml";
}
<!DOCTYPE html>
<html lang="en" >
<head>
	<!-- #region LINKS, META, SCRIPT LINK -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		@*<link rel="stylesheet" href="~/cssProfessorAdicionaAula/StyleProfessorAdicionaAula.css" />*@
		<link rel="stylesheet" href="~/cssEnviarArquivo/StyleEnviarArquivo.css" />
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
		<title>EFacil Cursos | Adicionar Aula</title>
		<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<!-- #endregion -->
</head>
<body>
	@*<section>*@

	<form method="post" enctype="multipart/form-data" asp-controller="Acesso"
			  asp-action="EnviarArquivo">
			<div class="form-group">
				<div class="col-md-10">
					<p>Enviar um ou mais arquivos :</p>
					<input type="file" name="arquivos" multiple />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10">
					<input type="submit" value="Enviar Arquivo" />
				</div>
			</div>
		</form>

	<form method="post" enctype="multipart/form-data" asp-controller="Acesso" asp-action="EnviarArquivo">
		<div class="container-upload-arquivos">
			<div class="row it">
				<div class="col-sm-offset-1 col-sm-10" id="one">
					<p>
						Somente documentos no Formato: 'pdf', 'docx', 'rtf', 'jpg', 'jpeg', 'png' & 'text'.
					</p><br>
					<div class="row">
						<div class="col-sm-offset-4 col-sm-4 form-group">
							<h3 class="text-center">Meus Documentos</h3>
						</div>
					</div>
					<div id="uploader">
						<div class="row uploadDoc">
							<div class="col-sm-3">
								<div class="docErr">Please upload valid file</div>
								<div class="fileUpload btn btn-orange">
									<img src="https://image.flaticon.com/icons/svg/136/136549.svg" class="icon">
									<span class="upl" id="upload">Enviar Documento</span>
									<input type="file" class="upload up" id="up" onchange="readURL(this);" />
								</div>
							</div>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="" placeholder="Descrição">
							</div>
							<div class="col-sm-1"><a class="btn-check"><i class="fa fa-times"></i></a></div>
						</div>
					</div>
					<div class="text-center">
						<a class="btn btn-new"><i class="fa fa-plus"></i> Novo</a>
						<button class="btn btn-next" type="submit"><i class="fa fa-paper-plane"></i> Enviar</button>
						@*<input class="btn btn-next" type="submit" value="Enviar Arquivo"><i class="fa fa-paper-plane"></i> />*@
					</div>
				</div>
			</div>
		</div>

		@*<div class="form-group">
				<div class="col-md-10">
					<p>Enviar um ou mais arquivos :</p>
					<input type="file" name="arquivos" multiple />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10">
					<input type="submit" value="Enviar Arquivo" />
				</div>
			</div>*@
	</form>
	@*</section>*@
	@section Scripts {

		<script src="~/jsProfessorAdicionaAula/ScriptFileAttachmentPlugin.js"></script>
	}
</body>
</html>