﻿@*@model EFacilCursos.Migrations.AppDbContextModelSnapshot*@
@{
	ViewData["Title"] = "Todos Cursos";
	Layout = "~/Views/Shared/_LayoutHomeCursos.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region LINKS, META, SCRIPT LINK -->

	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>Meus cursos</title>
	<link href="~/cssHomeCursos/HomeCursosStyles.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>

	<!-- #endregion -->
</head>
<body>
	<div class="teste"></div>
	<div class="wrapper">
		<div class="main">
			<div class="page-header">
				<div class="actual-page">
				</div>
				<div class="log-out">
					@Html.ActionLink("Sair", "Logout")
					<i class="fas fa-sign-out-alt"></i>
				</div>
			</div>
			<div class="courses-summary">
				<div class="box">
					<div class="box-header">
						<h4 class="bought">Cursos</h4>
						<p>Geral</p>
					</div>
					<div class="box-info">
						<p>
							<strong>@ViewBag.CursosCount</strong> <br />
							Cursos
						</p>
					</div>
				</div>
				<div class="box">
					<div class="box-header">
						<h4 class="in-progress">Cursos em andamento</h4>
						<p>Geral</p>
					</div>
					<div class="box-info">
						<p>
							<strong>0</strong> <br />
							Cursos
						</p>
					</div>
				</div>
				<div class="box">
					<div class="box-header">
						<h4 class="finished">Concluídos</h4>
						<p>Geral</p>
					</div>
					<div class="box-info">
						<p>
							<strong>0</strong> <br />
							Cursos
						</p>
					</div>
				</div>
			</div>
			<div class="courses-info">
				<div class="border"></div>
				<div class="section-title">
					<i class="fas fa-graduation-cap"></i>
					<p>Todos os cursos</p>
				</div>
				<div class="pagination">
					<p>1 / 1</p>
				</div>
				<div class="cards-container">
					@if (ViewBag.CursosCount == 0)
					{
						<div class="course-card">
							<div class="course-image">
								<img src="~/admin-lte/img/photo2.png" />
							</div>
							<div class="course-main">
								<div class="course-description">
									<div class="basic-info">
										<div class="basic-info-header">
											<ul class="levels">
												<li>0 Aulas</li>
												<li>0 Horas</li>
												<li>Nivel N/A</li>
											</ul>
										</div>
										<h2>Ops... Não há Cursos Na Plataforma</h2>
									</div>
								</div>
							</div>
						</div>
					}
					else
					{
						foreach (var item in ViewBag.Cursos)
						{
							<div class="course-card">
								<div class="course-image">
									<img src="~/Arquivos/Arquivos_Usuario/Recebidos/@Url.Content(@item.EnderecoImagem)" />
								</div>
								<div class="course-main">
									<div class="course-description">
										<div class="basic-info">
											<div class="basic-info-header">
												<p class="course-name">@item.Nome</p>
												<ul class="levels">
													<li>@ViewBag.AulasCount Aulas</li>
													<li>46 Horas</li>
													<li>@item.Nivel</li>
												</ul>
											</div>
											@item.Descricao
										</div>
										<div class="price-and-rating">
											@*<p class="price">R$ 199,99</p>*@
											<p class="price">@item.Nivel</p>
											<div class="botao-comprar">
												<input type="button" value="Detalhes" class="btn btn-block btn-danger" onclick="@("window.location.href='" + @Url.Action("DetalheCursos", "Acesso", new { Id = item.Id, modelUsuario = ViewBag.modelUsuario }) + "'");" />
											</div>
											<ul class="rating">
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
												<li><i class="fas fa-star"></i></li>
											</ul>
											<p class="reviews">15000 Opiniões</p>
										</div>
									</div>
									<div class="progress-bar"></div>
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
