﻿@{
	ViewData["Title"] = "MeusCursos";
	Layout = "~/Views/Shared/_LayoutMeusCursos.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region LINKS, META, SCRIPT LINK -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="~/cssMeusCursos/StyleMeusCursos.css" />
	<link rel="stylesheet" href="~/cssMeusCursos/StyleDeleteModal.css" />
	<link rel="stylesheet" href="~/cssMeusCursos/StyleDisableModal.css" />
	<link rel="stylesheet" href="~/cssMeusCursos/StyleActivateModal.css" />
	<title>EFacil Cursos | Meus Cursos</title>
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<!-- #endregion -->
</head>
<body>
	<!--Modal de exclusão-->
	<div class="delete-modal-container">
		<div class="delete-modal">
			<i class="fas fa-exclamation-triangle"></i>
			<h1>Deseja excluir esse curso definitivamente?</h1>
			<div class="reason-container">
				<label for="reason-input">Motivo <span>*</span> </label>
				<textarea id="reason-input"
						  cols="30"
						  rows="5"
						  maxlength="300"></textarea>
				<small> <span>0</span> / 300 </small>
			</div>
			<div class="delete-modal-btns-container">
				<div class="confirm-btn">
					<p>24h para aprovação</p>
					<button type="button" id="confirm-delete-modal-btn" disabled>
						Sim
					</button>
				</div>
				<button type="button" id="no-delete-modal-btn">
					Não
				</button>
			</div>
		</div>
	</div>

	<!--Modal de desativação-->
	<div class="disable-modal-container">
		<div class="disable-modal">
			<i class="fas fa-exclamation-triangle"></i>
			<h1>Deseja desativar esse curso?</h1>
			<div class="radio-btns">
				<div class="radio-container">
					<input type="radio" name="time" id="one-hour" />
					<label for="one-hour">1 hora</label>
				</div>
				<div class="radio-container">
					<input type="radio" name="time" id="twelve-hours" />
					<label for="twelve-hours">12 horas</label>
				</div>
				<div class="radio-container">
					<input type="radio" name="time" id="one-day" />
					<label for="one-day">1 dia</label>
				</div>
			</div>
			<div class="disable-modal-btns">
				<button type="button" id="confirm-disable-modal-btn" disabled>
					Sim
				</button>
				<button type="button" id="no-disable-modal-btn">
					Não
				</button>
			</div>
		</div>
	</div>

	<!--Modal de ativação-->

	<div class="activate-modal-container">
		<div class="activate-modal">
			<i class="fas fa-exclamation-triangle"></i>
			<h1>Deseja ativar esse curso?</h1>
			<div class="activate-modal-btns">
				<button type="button" id="confirm-activate-modal-btn">Sim</button>
				<button type="button" id="no-activate-modal-btn">
					Não
				</button>
			</div>
		</div>
	</div>
	<div class="page-header">
		<div class="actual-page">
		</div>
		<div class="log-out">
			@Html.ActionLink("Sair", "Logout")
			<i class="fas fa-sign-out-alt"></i>
		</div>
	</div>
	<div class="my-courses-container">
		@*<div class="blue-border"></div>*@
		<h1><i class="fas fa-graduation-cap"></i> Meus Cursos</h1>
		<div class="cards-container">
			<p class="total-courses">
				@*<strong>Total de Cursos:</strong> <span>@ViewBag.CursosCount</span>*@
			</p>

			@using (Html.BeginForm("PlayerVideoCurso", "Acesso", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				if (ViewBag.Cursos == null)
				{
					<div class="course-card-oo">
						<div class="course-image">
							<img src="~/admin-lte/img/photo2.png" />
						</div>
						<div class="course-main">
							<div class="course-description-oo">
								<div class="basic-info">
									<div class="basic-info-header">
										<ul class="levels">
											<li>0 Aulas</li>
											<li>0 Horas</li>
											<li>Nivel N/A</li>
										</ul>
									</div>
									<h2>Ops... Você não tem Cursos na Plataforma</h2>
								</div>
							</div>
						</div>
					</div>
				}
				else
				{
					foreach (var item in ViewBag.Cursos)
					{
						<div class="course-card">
							<div class="image-container">
								<img src="~/Arquivos/Arquivos_Usuario/Recebidos/@Url.Content(@item.EnderecoImagem)" />
							</div>
							<div class="course-info">
								<p class="course-title">@item.Nome </p>
								<p class="course-description">
									@item.Descricao
								</p>
								<div class="course-status">
									<div class="circle"></div>
									Ativo
								</div>
							</div>
							<div class="course-summary">
								<div class="label-and-icon">
									<i class="fas fa-graduation-cap"></i>
									<p>3 Níveis</p>
									<i class="fas fa-bars"></i>
									<p>3 Módulos</p>
									<i class="far fa-clock"></i>
									<p>26 Horas</p>
								</div>
								<div class="label-and-icon">
									<i class="fas fa-comment"></i>
									<p>@item.Idioma</p>
									<i class="fas fa-closed-captioning"></i>
									<p>@item.Idioma</p>
								</div>
							</div>
							<div class="btns-container">
								<a href="@Url.Action("AulasCurso", "Acesso", new { CursoId = item.Id })">
									<i class="fas fa-play"></i>
									<span>
										Assistir Aulas
									</span>
								</a>

							</div>
						</div>
					}
				}
			}
		</div>
	</div>
	<script src="~/jsMeusCursos/ScriptMeusCursos.js"></script>
</body>
</html>
