﻿@{
	ViewData["Title"] = "NaoHaCursoCadastrado";
	Layout = "~/Views/Shared/_LayoutNaoHaCursoCadastrado.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region LINKS, META, SCRIPT LINK -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="~/cssNaoHaCursoCadastrado/StyleNaoHaCursoCadastrado.css" />
		<title>EFacil Cursos | Tela Inicial</title>
		<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<!-- #endregion -->
</head>
<body>
	<div class="initial-page">
		<div class="initial-page-container">
			<h1>Você ainda não tem cursos...</h1>
			<a href="../AdicionarCurso/index.html" class="add-button">
				<div class="circle">
					<i class="fas fa-plus"></i>
				</div>
				<p>Adicionar</p>
			</a>
		</div>
	</div>
</body>
</html>
