﻿<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="~/cssPlayerVideo/StyleVideoPlayer.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<title>PlayerVideoCurso</title>
</head>
<body>
	@foreach (var item in ViewBag.AulaCurso)
	{
		<div class="info-and-logout">
			@Html.ActionLink("Home", "HomeCursos")
			|
			@Html.ActionLink("Sair", "Logout", new { @class = "fas fa-sign-out-alt" })
		</div>

		<div class="container-titulo-curso">
			<h3><strong>@item.Titulo</strong> | @ViewBag.Curso</h3>
		</div>
		<div class="progress-bar-background"></div>
		<div class="progress-bar-curso"></div>
		<div class="container-modulos">
			<div class="modulos">
				<p></p>
			</div>
		</div>
		<div class="container-video">
			<div class="c-video">
				<video class="video" src="~/Arquivos/Arquivos_Usuario/Recebidos/@Url.Content(@item.CaminhaoVideo)" type="video/mp4"></video>
				<div class="controls">
					<div class="orange-bar-div">
						<div class="orange-juice-bar"></div>
					</div>
					<div class="buttons">
						<button id="play-pause"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-modulos-Cursos">
			<div class="container-titulo-conteudo-curso">
				<h3><strong>Conteúdo do Curso</strong></h3>
			</div>
			<div class="container-aula">
				<h3><strong>Aulas</strong></h3>
			</div>
			<div class="container-Nome-aula">
				<h4><i class="fa fa-caret-right"></i><strong> @item.Titulo</strong></h4>
			</div>
			<!-- #region LockAulas -->
			<div class="lock-aula">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula2">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula3">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula4">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula5">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula6">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula7">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula8">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula9">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<div class="lock-aula10">
				<h4><i class="fa fa-lock"></i><strong> Aula</strong></h4>
			</div>
			<!-- #endregion -->
		</div>
		<script src="~/jsVideoPlayer/scriptVideoPlayer.js"></script>
		<div class="porcetagem-curso">
			@*<p>3%</p>*@
		</div>
	}
</body>
</html>
