﻿@model EfacilCursos.Models.Cursos
@{
	ViewBag.Title = "ProfessorAdicionaNovoCurso";
	Layout = "~/Views/Shared/_LayoutProfessorAdicionaNovoCurso.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region SCRIPTS LINKS -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="~/cssProfessorCriaNovoCurso/StyleProfessorAdicionaNovoCurso.css" />
	<title>EFacil Cursos | Cadastrar Curso</title>
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	@*<script src="~/jsProfessorAdicionaNovoCurso/ScriptProfessorAdicionaNovoCurso.js"></script>*@
	<!-- #endregion -->
</head>
<body>
	@using (Html.BeginForm("ProfessorAdicionaNovoCurso", "Acesso", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="add-class-wrapper">
			<div class="create-course-container">
				<h1><i class="fas fa-graduation-cap"></i> Cadastrar Curso</h1>
				<div class="orientations">
					<h2>Orientações</h2>
					<div class="orientations-main-info">
						<div class="orientations-label">
							<i class="fas fa-hourglass-start"></i>
							<p>
								Após a criação do curso, terá até 7 dias para <br />
								aprovação da solicitação.
							</p>
						</div>
						<div class="orientations-label">
							<i class="fas fa-exclamation-triangle"></i>
							<p>Todos os campos são obrigatórios.</p>
						</div>
					</div>
				</div>
				<br />
				<div class="input-container">
					<label for="class-image">Imagem Oficial do Curso</label>
					<div class="class-image-container">
						<input type="file" id="class-image" name="arquivos" accept="image/*" />
						<i class="far fa-image"></i>
					</div>
					<div class="image-btns">
						<span id="edit-image-btn">
							<i class="fas fa-pencil-alt"></i> Alterar
						</span>
						<span id="delete-image-btn">
							<i class="fas fa-times"></i> Remover
						</span>
					</div>
				</div>
				<div class="input-container">
					<br />
					@Html.LabelFor(model => model.Nome)
					@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @id = "title", @maxlength = 50 } })
					@Html.HiddenFor(model => model.Id)
				</div>
				<div class="input-container">
					<br />
					@Html.LabelFor(model => model.SubTitulo)
					@Html.EditorFor(model => model.SubTitulo, new { htmlAttributes = new { @id = "title", @maxlength = 50 } })
				</div>
				<div class="input-container">
					@Html.LabelFor(model => model.Descricao)
					@Html.TextAreaFor(model => model.Descricao, new { htmlAttributes = new { @id = "description", @maxlength = 50 } })
					@*<textarea cols="30"
						rows="4"
						id="description"
						maxlength="250"
						required></textarea>*@
					<small id="character-count"> <span>0</span> / 250 </small>
				</div>
				<div class="input-container">
					@Html.LabelFor(model => model.Nivel)
					<div class="radio-container">
						@Html.RadioButtonFor(model => model.Nivel, "Gratis", new { htmlAttributes = new { @id = "free", @value = "Gratis", @name = "level", @maxlength = 50 } })
						<label for="free" id="free-label">Nível Gratuito</label>
					</div>
					<div class="radio-container">
						@Html.RadioButtonFor(model => model.Nivel, "Pago", new { htmlAttributes = new { @id = "free", @value = "Pago", @name = "level", @maxlength = 50 } })
						<label for="paid" id="paid-label">Nível Pago</label>
					</div>
				</div>
				<div class="input-container">
					<label for="">Idioma do Curso</label>
					<div class="radio-container">
						@*@Html.RadioButtonFor(model => model.Idioma, new { htmlAttributes = new { @id = "portuguese", @value = "portuguese", @name = "language", @maxlength = 50 } })*@
						@Html.RadioButtonFor(model => model.Idioma, "portuguese", new { htmlAttributes = new { @id = "portuguese", @value = "Portugues-BR", @name = "language", @maxlength = 50 } })
						<label for="portuguese">
							<div class="flag">
								<img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg"
									 alt="" />
							</div>

							Português-BR
						</label>
					</div>
					<div class="radio-container">
						@*@Html.RadioButtonFor(model => model.Idioma, new { htmlAttributes = new { @id = "english", @value = "english", @name = "language", @maxlength = 50 } })*@
						@Html.RadioButtonFor(model => model.Idioma, "Inglês", new { htmlAttributes = new { @id = "english", @value = "Ingles", @name = "language", @maxlength = 50 } })
						<label for="english">
							<div class="flag">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Great_Britain_%281707%E2%80%931800%29.svg/290px-Flag_of_Great_Britain_%281707%E2%80%931800%29.svg.png"
									 alt="" />
							</div>

							Inglês
						</label>
					</div>
					<div class="radio-container">
						@*@Html.RadioButtonFor(model => model.Idioma, new { htmlAttributes = new { @id = "spanish", @value = "spanish", @name = "language", @maxlength = 50 } })*@
						@Html.RadioButtonFor(model => model.Idioma, "Espanhol", new { htmlAttributes = new { @id = "spanish", @value = "Espanhol", @name = "language", @maxlength = 50 } })
						<label for="spanish">
							<div class="flag">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/1200px-Flag_of_Spain.svg.png"
									 alt="" />
							</div>

							Espanhol
						</label>
					</div>
					<div class="radio-container">
						@*@Html.RadioButtonFor(model => model.Idioma, new { htmlAttributes = new { @id = "french", @value = "french", @name = "language", @maxlength = 50 } })*@
						@Html.RadioButtonFor(model => model.Idioma, "Frânces", new { htmlAttributes = new { @id = "french", @value = "Frances", @name = "language", @maxlength = 50 } })
						<label for="french">
							<div class="flag">
								<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg"
									 alt="" />
							</div>

							Francês
						</label>
					</div>
				</div>
				<br />
				<button type="submit" class="create-course-btn">
					Criar
				</button>
				@*}*@
			</div>
			@section Scripts {
				<script src="~/jsProfessorAdicionaNovoCurso/ScriptProfessorAdicionaNovoCurso.js"></script>
				@*<script src="~/jsProfessorAdicionaAula/ScriptFileAttachmentPlugin.js"></script>*@
			}
		</div>
	}
</body>
</html>