﻿@model EfacilCursos.Models.Professor
@{	
	ViewBag.Title = "ProfessorAdd";
}

@using (Html.BeginForm("ProfessorAdd", "Acesso", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@*@Html.AntiForgeryToken()*@
	@Html.HiddenFor(model => model.Id_Professor)

	<!DOCTYPE html>
	<html lang="en">
	<head>
		<!-- #region LINKS, META, SCRIPT LINK -->
		<title>Criar Perfil Professor</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="~/vendorAdd/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="~/vendorAdd/animate/animate.css " />
		<link rel="stylesheet" type="text/css" href="~/vendorAdd/css-hamburgers/hamburgers.min.css" />
		<link rel="stylesheet" type="text/css" href="~/vendorAdd/select2/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="~/cssAdd/util.css">
		<link rel="stylesheet" type="text/css" href="~/cssAdd/main.css" />
		<script src="~/vendorAdd/jquery/jquery-3.2.1.min.js"></script>
		<script src="~/vendorAdd/bootstrap/js/popper.js"></script>
		<script src="~/vendorAdd/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/vendorAdd/select2/select2.min.js"></script>
		<script src="~/vendorAdd/tilt/tilt.jquery.min.js"></script>
		<script src="~/jsAdd/main.js"></script>
		<!-- #endregion -->
	</head>
	<body>
		<div class="contact1">
			<div class="container-contact1">
				<div class="contact1-pic js-tilt" data-tilt>
					<img src="~/images/img-02.png" alt="IMG">
				</div>
				<form>
					<span class="contact1-form-title">
						Cadastro Efacil Cursos
						Professor
					</span>
					<div class="wrap-input1 validate-input" data-validate="Nome é Obrigatório">
						@Html.EditorFor(model => model.NomeProfessor, new { htmlAttributes = new { @class = "input1", @placeholder = "Nome", @maxlength = 100 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Um email válido é Obrigatório ex: ex@abc.xyz">
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input1", @placeholder = "Email", @maxlength = 320 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Senha é Obrigatório">
						@Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "input1", @placeholder = "Senha", @type = "password", @maxlength = 100 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Data Nascimento é Obrigatório">
						@Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "input1", @type = "date" } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="CPF é Obrigatório">
						@Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "input1", @placeholder = "CPF", @maxlength = 11 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Endereço é Obrigatório">
						@Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "input1", @placeholder = "Endereço", @maxlength = 100 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="CEP é Obrigatório">
						@Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "input1", @placeholder = "CEP", @maxlength = 18 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Sexo é Obrigatório">
						@Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "input1", @placeholder = "Sexo", @maxlength = 18 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Estado é Obrigatório">
						@Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "input1", @placeholder = "Estado", @maxlength = 100 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Telefone é Obrigatório">
						@Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "input1", @placeholder = "Telefone", @maxlength = 100 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Profisão é Obrigatório">
						@Html.EditorFor(model => model.Profissao, new { htmlAttributes = new { @class = "input1", @placeholder = "Profissão", @maxlength = 100 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Experiencia Profissional é Obrigatório">
						@Html.EditorFor(model => model.ExperienciaProfissional, new { htmlAttributes = new { @class = "input1", @placeholder = "Experiencia Profissional", @maxlength = 100 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Area de Formação é Obrigatório">
						@Html.EditorFor(model => model.AreaFormacao, new { htmlAttributes = new { @class = "input1", @placeholder = "Area Formacao", @maxlength = 100 } })
						<span class="shadow-input1"></span>
					</div>
					<div class="wrap-input1 validate-input" data-validate="Experiencia Profissional é Obrigatório">
						<div class="col-md-10">
							@Html.LabelFor(model => model.TempoProfessorMinistrouAulas, new { htmlAttributes = new { @for = "radio-ooo" } })
							<br />
							2 Anos
							@Html.RadioButtonFor(model => model.TempoProfessorMinistrouAulas, "2 Anos")
							<br />
							3 Anos
							@Html.RadioButtonFor(model => model.TempoProfessorMinistrouAulas, "3 Anos")
							<br />
							5 Anos
							@Html.RadioButtonFor(model => model.TempoProfessorMinistrouAulas, "5 Anos")
							<span class="shadow-input1"></span>
						</div>
					</div>
					<div class="container-contact1-form-btn">
						<input type="submit" value="Enviar" class="contact1-form-btn" />
					</div>
					<div class="text-center p-t-90">
						<a class="txt2" asp-action="LoginUsuario">
							Fazer Login
							<i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
		<script>
			$('.js-tilt').tilt({
				scale: 1.1
			})
		</script>
	</body>
</html>
}
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}