﻿@{
	ViewData["Title"] = "ProfessorAlteraAula";
	Layout = "~/Views/Shared/_LayoutProfessorAlteraAula.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region LINKS, META, SCRIPT LINK -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="~/cssProfessorAlteraAula/StyleProfessorAlteraAula.css" />
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
		<title>EFacil Cursos | Alterar Aula</title>
		<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<!-- #endregion -->
</head>
<body>
	<div class="add-class-wrapper">
		<div class="add-class-container">
			<h1><i class="fas fa-pencil-alt"></i> Alterar Aula</h1>
			<div class="orientations">
				<h2>Orientações</h2>
				<ul>
					<li><i class="fas fa-hourglass-start"></i></li>
					<li>
						Após a alteração da aula, terá até 10 Minutos para aprovação.						
					</li>
					<li><i class="fas fa-exclamation-triangle"></i></li>
					<li>
						Todos os campos são obrigatórios.
					</li>
				</ul>
			</div>
			<form class="add-class-form">
				<div class="input-container">
					<label for="class-title">Título da Aula</label>
					<input type="text" id="class-title" maxlength="50" />
				</div>
				<div class="input-container">
					<label for="class-image">Imagem Oficial da Aula</label>
					<div class="class-image-container">
						<input type="file" id="class-image" accept="image/*" />
						<i class="far fa-image"></i>
					</div>
					<div class="image-btns">
						<span id="edit-image-btn">
							<i class="fas fa-pencil-alt"></i> Alterar
						</span>
						<span id="delete-image-btn">
							<i class="fas fa-times"></i> Remover
						</span>
					</div>
				</div>
				<div class="input-container">
					<label for="class-description">Descrição</label>
					<textarea id="class-description"
							  cols="30"
							  rows="4"
							  maxlength="250"></textarea>
					<small> <span id="character-counter">0</span> / 250 </small>
				</div>
				<div class="input-container">
					<label for="class-module">Módulo</label>
					<select id="class-module">
						<option value="0" disabled selected>Selecione o módulo</option>
						<option value="1">Módulo 1</option>
						<option value="2">Módulo 2</option>
						<option value="3">Módulo 3</option>
					</select>
				</div>
				<div class="input-container">
					<label for="class-video">Vídeo Aula</label>
					<div class="class-video-container">
						<input type="file" id="class-video" accept="video/*" />
						<i class="fas fa-video"></i>
					</div>
					<div class="video-btns">
						<span id="edit-video-btn">
							<i class="fas fa-pencil-alt"></i> Alterar
						</span>
						<span id="delete-video-btn">
							<i class="fas fa-times"></i> Remover
						</span>
					</div>
				</div>
				<button type="submit" class="create-class-btn" disabled>
					Alterar
				</button>
			</form>
		</div>
	</div>
	<script src="~/jsProfessorAlteraAula/ScriptProfessorAlteraAula.js"></script>
</body>
</html>
