﻿@{
	ViewData["Title"] = "ProfessorAlteraCurso";
	Layout = "~/Views/Shared/_LayoutProfessorAlteraCurso.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region LINKS, META, SCRIPT LINK,  -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="~/cssProfessorAlteraCurso/StyleProfessorAlteraCurso.css" />
		<title>EFacil Cursos | Alterar Curso</title>
		<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<!-- #endregion -->
</head>
<body>
	<!-- Modal de exclusão de aula -->
	<div class="delete-class-modal-container">
		<div class="delete-class-modal">
			<i class="fas fa-exclamation-triangle"></i>
			<h1>Deseja excluir essa aula definitivamente?</h1>
			<div class="reason-container">
				<label for="reason-input">Motivo <span>*</span> </label>
				<textarea id="reason-input"
						  cols="30"
						  rows="5"
						  maxlength="100"></textarea>
				<small> <span>0</span> / 100 </small>
			</div>
			<div class="delete-class-btns">
				<div class="confirm-delete">
					<span>24h para Aprovação</span>
					<button type="button" disabled>Confirmar</button>
				</div>
				<button type="button">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="edit-course-container">
		<h1><i class="fas fa-graduation-cap"></i> Alterar Curso</h1>
		<div class="orientations">
			<h2>Orientações</h2>
			<div class="orientations-main-info">
				<div class="orientations-label">
					<i class="fas fa-hourglass-start"></i>
					<p>
						Após a alteração do curso, terá até 24 horas para <br />
						aprovação da solicitação.
					</p>
				</div>
				<div class="orientations-label">
					<i class="fas fa-exclamation-triangle"></i>
					<p>Todos os campos são obrigatórios.</p>
				</div>
			</div>
		</div>
		<form class="form">
			<div class="input-container">
				<label for="">Título do Curso</label>
				<input type="text" id="title" maxlength="60" required />
			</div>
			<div class="input-container">
				<label for="">Imagem Oficial do Curso</label>
				<div class="image-input">
					<input type="file" accept="image/*" id="image" required />
					<i class="far fa-image"></i>
					<p>Alterar</p>
				</div>
				<div class="edit-delete-image">
					<p id="edit-image"><i class="fas fa-pencil-alt"></i> Editar</p>
					<p id="delete-image"><i class="fas fa-times"></i> Remover</p>
				</div>
			</div>
			<div class="input-container">
				<label for="">Descrição</label>
				<textarea cols="30"
						  rows="4"
						  id="description"
						  maxlength="250"
						  required></textarea>
				<small id="character-count"> <span>0</span> / 250 </small>
			</div>
			<div class="input-container">
				<label for="">Nível</label>
				<div class="radio-container">
					<input type="radio" name="level" id="free" value="free" required />
					<label for="free" id="free-label">Nível Gratuito</label>
				</div>
				<div class="radio-container">
					<input type="radio" name="level" id="paid" value="paid" />
					<label for="paid" id="paid-label">Nível Pago</label>
				</div>
			</div>
			<div class="input-container">
				<label for="">Módulos</label>
				<div class="two-inputs-container">
					<label for="">1º Módulo</label>
					<input type="text"
						   id="firstModule"
						   maxlength="50"
						   required
						   disabled />
					<label for="">Qtd. Aulas</label>
					<input type="text"
						   id="firstModuleClasses"
						   max="20"
						   maxlength="2"
						   required
						   disabled />
					<i class="fas fa-pencil-alt" id="edit-pencil"></i>
					<i class="fas fa-save" id="save-edit"></i>
				</div>
				<div class="two-inputs-container">
					<label for="">2º Módulo</label>
					<input type="text"
						   id="secondModule"
						   maxlength="50"
						   required
						   disabled />
					<label for="">Qtd. Aulas</label>
					<input type="text"
						   id="secondModuleClasses"
						   max="20"
						   maxlength="2"
						   required
						   disabled />
					<i class="fas fa-pencil-alt" id="edit-pencil"></i>
					<i class="fas fa-save" id="save-edit"></i>
				</div>
				<div class="two-inputs-container">
					<label for="">3º Módulo</label>
					<input type="text"
						   id="thirdModule"
						   maxlength="50"
						   required
						   disabled />
					<label for="">Qtd. Aulas</label>
					<input type="text"
						   id="thirdModuleClasses"
						   max="20"
						   maxlength="2"
						   required
						   disabled />
					<i class="fas fa-pencil-alt" id="edit-pencil"></i>
					<i class="fas fa-save" id="save-edit"></i>
				</div>
			</div>
			<div class="input-container">
				<label for="">Idioma do Curso</label>
				<div class="radio-container">
					<input type="radio"
						   name="language"
						   value="portuguese"
						   id="portuguese"
						   required />

					<label for="portuguese">
						<div class="flag">
							<img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg"
								 alt="" />
						</div>

						Português-BR
					</label>
				</div>
				<div class="radio-container">
					<input type="radio" name="language" id="english" value="english" />

					<label for="english">
						<div class="flag">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Great_Britain_%281707%E2%80%931800%29.svg/290px-Flag_of_Great_Britain_%281707%E2%80%931800%29.svg.png"
								 alt="" />
						</div>

						Inglês
					</label>
				</div>
				<div class="radio-container">
					<input type="radio" name="language" id="spanish" value="spanish" />

					<label for="spanish">
						<div class="flag">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/1200px-Flag_of_Spain.svg.png"
								 alt="" />
						</div>

						Espanhol
					</label>
				</div>
				<div class="radio-container">
					<input type="radio" name="language" id="french" value="french" />

					<label for="french">
						<div class="flag">
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg"
								 alt="" />
						</div>

						Francês
					</label>
				</div>
			</div>
			<div class="input-container">
				<label for="">Aulas</label>
				<div class="classes">
					<div class="class-basic-info">
						<p>Módulo 1</p>
						<p>4 Aulas</p>
					</div>
					<div class="class-cards">
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 01: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 02: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 03: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 04: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
					</div>
				</div>
				<div class="classes">
					<div class="class-basic-info">
						<p>Módulo 2</p>
						<p>4 Aulas</p>
					</div>
					<div class="class-cards">
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 01: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 02: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 03: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 04: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
					</div>
				</div>
				<div class="classes">
					<div class="class-basic-info">
						<p>Módulo 3</p>
						<p>4 Aulas</p>
					</div>
					<div class="class-cards">
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 01: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 02: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 03: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
						<div class="class-card">
							<div class="class-image">
								<img src="https://image.freepik.com/fotos-gratis/pessoas-conversando-na-reuniao_23-2148222534.jpg"
									 alt="" />
							</div>
							<p>Aula 04: Curso Completo PHP 7</p>
							<i class="far fa-times-circle" id="delete-class"></i>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="edit-course-btn">
				Alterar
			</button>
		</form>
	</div>
	<script src="~/jsProfessorAlteraCurso/ScriptProfessorAlteraCurso.js"></script>
</body>
</html>
