﻿@model EfacilCursos.Models.Aulas
@{
	ViewData["Title"] = "ProfessorAdicionaAula";
	Layout = "~/Views/Shared/_LayoutProfessorAdicionaAula.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- #region LINKS, META, SCRIPT LINK -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/cssProfessorAdicionaAula/StyleProfessorAdicionaAula.css" />
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet" />
	<title>EFacil Cursos | Adicionar Aula</title>
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<script src="https://kit.fontawesome.com/008a52c14b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	@*<script src="~/jsProfessorAdicionaAula/ScriptProfessorAdicionaAula.js"></script>*@
	<!-- #endregion -->
</head>
<body>
	@using (Html.BeginForm("ProfessorAdicionaAula", "Acesso", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="add-class-wrapper">
			<div class="add-class-container">
				<h1><i class="fas fa-play"></i> Adicionar Aula</h1>
				<div class="orientations">
					<h2>Orientações</h2>
					<ul>
						<li><i class="fas fa-hourglass-start"></i></li>
						<li>
							Após o envio da aula, terá até 1 hora para aprovação da
							solicitação.
						</li>
						<li><i class="fas fa-exclamation-triangle"></i></li>
						<li>
							Todos os campos são obrigatórios.
						</li>
					</ul>
				</div>
				<form class="add-class-form">
					<div class="input-container">
						@Html.LabelFor(model => model.Titulo)
						@Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @id = "class-title", @name="Titulo", @maxlength = 50 } })

						@*<label for="class-title">Título da Aula</label>
							<input type="text" id="class-title" maxlength="50" />*@
					</div>
					<div class="input-container">
						<label for="class-image">Imagem Oficial da Aula</label>
						<div class="class-image-container">
							<input type="file" id="class-image" name="arquivos" accept="image/*" />
							<i class="far fa-image"></i>
						</div>
						<div class="image-btns">
							<span id="edit-image-btn">
								<i class="fas fa-pencil-alt"></i> Alterar
							</span>
							<span id="delete-image-btn">
								<i class="fas fa-times"></i> Remover
							</span>
						</div>
					</div>
					<div class="input-container">

						@Html.LabelFor(model => model.Descricao)
						@Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @id = "class-description", @name="Descricao", @maxlength = 250 } })

						@*<label for="class-description">Descrição</label>
							<textarea id="class-description" cols="30" rows="4" maxlength="250"></textarea>*@
						<small> <span id="character-counter">0</span> / 250 </small>
					</div>
					<div class="input-container">
						<label for="class-module">Módulo</label>
						<select id="class-module" name="moduloCurso">
							<option value="0" disabled selected>Selecione o módulo</option>
							<option value="Módulo 1">Módulo 1</option>
							<option value="Módulo 2">Módulo 2</option>
							<option value="Módulo 3">Módulo 3</option>
							<option value="Módulo 4">Módulo 4</option>
							<option value="Módulo 5">Módulo 5</option>
							<option value="Módulo 6">Módulo 6</option>
							<option value="Módulo 7">Módulo 7</option>
							<option value="Módulo 8">Módulo 8</option>
							<option value="Módulo 9">Módulo 9</option>
							<option value="Módulo 10">Módulo 10</option>
						</select>
					</div>
					<div>
						<div class="input-container">
							<label for="class-video">Vídeo Aula</label>
							<div class="class-video-container">
								<input type="file" id="class-video" name="arquivos" accept="video/*" />
								<i class="fas fa-video"></i>
							</div>
							<div class="video-btns">
								<span id="edit-video-btn">
									<i class="fas fa-pencil-alt"></i> Alterar
								</span>
								<span id="delete-video-btn">
									<i class="fas fa-times"></i> Remover
								</span>
							</div>
						</div>
					</div>
				</form>
				<div class="container-upload-arquivos">
					<div class="row it">
						<div class="col-sm-offset-1 col-sm-10" id="one">
							<p>
								Somente documentos no Formato: 'pdf', 'docx', 'rtf', 'jpg', 'jpeg', 'png' & 'text'.
							</p><br>
							<div class="row">
								<div class="col-sm-offset-4 col-sm-4 form-group">
									<h3 class="text-center">Meus Documentos</h3>
								</div>
							</div>
							<div id="uploader">
								<div class="row uploadDoc">
									<div class="col-sm-3">
										<div class="docErr">Please upload valid file</div>
										<div class="fileUpload btn btn-orange">
											<img src="https://image.flaticon.com/icons/svg/136/136549.svg" class="icon">
											<span class="upl" id="upload">Enviar Documento</span>
											<input type="file" name="arquivos" class="upload up" id="up" onchange="readURL(this);" />
										</div>
									</div>
									<div class="col-sm-8">
										<input type="text" name="descricaoAnexo" class="form-control" placeholder="Descrição">
									</div>
									<div class="col-sm-1"><a class="btn-check"><i class="fa fa-times"></i></a></div>
								</div>
							</div>
							@*<div class="text-center">
								<a class="btn btn-new"><i class="fa fa-plus"></i> Novo</a>
								<button class="btn btn-next" type="submit"><i class="fa fa-paper-plane"></i> Enviar</button>

								<i class="fa fa-paper-plane">
									<input class="btn btn-next" type="submit" value="Enviar Arquivo" />
								</i>
							</div>*@
						</div>
					</div>
				</div>
				<div align="center">
					<button type="submit" class="create-class-btn" disabled>
						Criar
					</button>
				</div>
				@*</form>*@
			</div>
		</div>
	}
	@section Scripts {
		<script src="~/jsProfessorAdicionaAula/ScriptFileAttachmentPlugin.js"></script>
		<script src="~/jsProfessorAdicionaAula/ScriptProfessorAdicionaAula.js"></script>
	}
</body>
</html>
