﻿@model IEnumerable<EFacilCursos.Models.Usuario>

@{
    ViewData["Title"] = "Usuario";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<p>
    <a asp-action="UsuarioAdd" class="btn btn-primary">Adicionar</a>
</p>

@Html.AjaxGrid(Url.Action("UsuarioGrid"))


<script src="~/js/mvc-grid/mvc-grid.util.js"></script>
