﻿@model EFacilCursos.Models.Usuario

@{
    ViewData["Title"] = "Usuario Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	function fnSaveData() {
		window.localStorage.setItem(“UserId”, document.getElementById(“IdUser”).value);
	}
</script>

<h2>Usuário</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UsuarioEdit">
            @Html.HiddenFor(model => model.Id_Aluno)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" type="password" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Voltar</a>
                @if (Model.Id_Aluno != null)//ToDo:Ver se vai afetar essa alteração
                {
                    <a asp-action="UsuarioDelete" asp-route-id="@Model.Id_Aluno">Deletar</a>

                }

            </div>
        </form>
    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $("#Senha").val("@Model.Senha");
</script>

