﻿.image-container {
	width: 260px;
	height: 140px;
	border-radius: 10px;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-container-nao-ha {
	width: 100%;
	height: 200px;
	border-radius: 10px;
	overflow: hidden;
}