﻿body {
	background-color: #1a2226;
}

.container-video {
	display: flex;
	background: #1a2226;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.video {
	width: 100%
}

.c-video {
	width: 100%;
	max-width: 990px;
	position: absolute;
	overflow: hidden;
	left: 5%;
	top: 15%;
}

.container-modulos-Cursos {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 1px;
	border-style: solid;
	border-color: black;
	width: 300px;
	height: 700px;
	background: #fff;
	left: 72%;
	top: 15%;
}
.container-titulo-conteudo-curso {
	position: absolute;
	justify-content: center;
	color: black;
	border: solid;
	border-radius: 10px;
	display: flex;
	height: 680px;
	width: 280px;
	left: 3%;
	top: 1%;
}

.container-modulos-Cursos {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 1px;
	border-style: solid;
	border-color: black;
	width: 300px;
	height: 700px;
	background: #fff;
	left: 77%;
	top: 15%;
}

.container-aula {
	display: flex;
	justify-content: center;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 600px;
	background: #fff;
	left: 8%;
	top: 10%;
}

.container-Nome-aula {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 450px;
	background: #fff;
	left: 8%;
	top: 20%;
}

.lock-aula {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 30%;
}

.lock-aula2 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 35%;
}

.lock-aula3 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 40%;
}

.lock-aula4 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 45%;
}

.lock-aula5 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 50%;
}

.lock-aula6 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 55%;
}

.lock-aula7 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 60%;
}

.lock-aula8 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 65%;
}

.lock-aula9 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 70%;
}

.lock-aula10 {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 0px;
	border-style: solid;
	border-color: black;
	width: 250px;
	height: 150px;
	background: #fff;
	left: 8%;
	top: 75%;
}

.c-video:hover .controls {
	transform: translateY(0);
}

.controls {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.7);
	transform: translateY(100%) translateY(-5px);
	transition: all 0.2s;
}

.buttons button {
	background: none;
	border: 0;
	outline: 0;
	cursor:pointer;
}

.buttons button:before {
	content:'\f144';
	font-family: "FontAwesome";
	width: 30px;
	height: 30px;
	display: inline-block;
	font-size: 28px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

.buttons button.play:before {
	content: '\f144';
}

.buttons button.pause:before {
	content: '\f28b';
}

.orange-bar-div {
	height: 10px;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
}

.orange-juice-bar {
	height: 10px;
	background-color: orangered;
}

.container-titulo-curso {
	position: absolute;
	color: aliceblue;
	left: 5%;
	top: 1%;
}

.progress-bar-curso {
	position: absolute;
	background-color: blue;
	border-radius: 10px;
	height: 5px;
	width:10px;
	left: 5%;
	top: 10%;
}

.progress-bar-background {
	position: absolute;
	background-color: darkgray;
	border-radius: 10px;
	height: 5px;
	width: 1000px;
	left: 5%;
	top: 10%;
}

.porcetagem-curso {
	position: absolute;
	color: darkgray;
	left: 73%;
	top: 9%;
}

.info-and-logout {
	width: 100%;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.info-and-logout a:first-child {
	margin-right: 5px;
	color: #fff;
}

.info-and-logout a:last-child {
	margin-left: 5px;
	margin-top: 2px;
	color: #77ceee;
}