﻿* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
}

.modal-container {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(74, 74, 74, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	padding: 20px 50px;
	max-width: 600px;
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px #808080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.modal i {
	font-size: 100px;
	color: #507fb6;
}

.modal p {
	margin: 40px 0;
	font-size: 28px;
	font-weight: bold;
}

.modal button {
	padding: 15px 0;
	width: 200px;
	outline: none;
	border: none;
	border-radius: 8px;
	background-color: #1ece8f;
	color: #fff;
	font-size: 28px;
	font-weight: 100;
	cursor: pointer;
}

.success-course-container {
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blue-border {
	width: 100%;
	height: 20px;
	background-color: #456e9d;
}

.success-course-container h1 {
	margin-top: 20px;
	font-size: 40px;
	font-weight: bold;
	color: #456e9d;
}

h1 i {
	color: #000;
}

.cards-container {
	margin-top: 30px;
	max-width: 1300px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.total-courses {
	margin-bottom: 15px;
	font-size: 22px;
	align-self: flex-end;
}

.total-courses strong {
	color: #000;
}

.total-courses span {
	margin-left: 10px;
	color: rgba(0, 0, 0, 0.4);
}

.course-card {
	position: relative;
	padding: 20px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px #808080;
	display: flex;
}

.new {
	position: absolute;
	top: 0;
	color: #3ba64c;
}

.image-container {
	position: relative;
	width: 260px;
	height: 140px;
	border-radius: 10px;
	overflow: hidden;
}

.image-container i {
	position: absolute;
	font-size: 50px;
	color: #3ba64c;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.course-info {
	margin-left: 30px;
	width: 450px;
}

.course-title {
	font-size: 28px;
	font-weight: bold;
}

.course-description {
	margin-top: 10px;
}

.course-status {
	margin-top: 38px;
	display: flex;
	align-items: center;
}

.circle {
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #456e9d;
}

.course-summary {
	margin-left: 25px;
	width: 280px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: space-around;
}

.label-and-icon {
	width: 100%;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.label-and-icon p:nth-child(2),
.label-and-icon p:nth-child(4) {
	margin-left: 5px;
}

.label-and-icon i:nth-child(3) {
	margin-left: 20px;
}

.pending-container {
	margin-left: auto;
	width: 180px;
	height: 140px;
	border-radius: 10px;
	box-shadow: 0 0 10px #808080;
	display: flex;
}

.clock-icon {
	width: 50px;
	height: 100%;
	color: #e9e350;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pending-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
