﻿* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
}

.container-login {
	width: 100%;
	min-height: 100vh;
	padding: 15px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.page-header {
	width: 100%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-header a h1 {
	color: #fff;
}

.circle-icon {
	width: 70px;
	height: 70px;
	border: 5px solid #fff;
	border-radius: 50%;
	font-size: 30px;
	color: #fff;
	transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-content {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.role-question {
	margin-bottom: 40px;
	font-size: 40px;
	color: #fff;
	font-weight: normal;
}

.cards-container {
	max-width: 1000px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card-and-pop-up {
	position: relative;
	max-width: 320px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.card {
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	overflow-x: hidden;
	cursor: pointer;
	transition: 0.4s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.label {
	padding: 10px 0;
	width: 100%;
	background-color: #4b4b4b;
	color: #fff;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-main-content {
	width: 100%;
	height: 230px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.selected {
	background-color: #80de89;
}

.card-main-content i {
	font-size: 140px;
}

.question-mark {
	position: absolute;
	right: 20px;
	bottom: 175px;
	color: #4b4b4b;
	font-size: 30px;
	transition: 0.2s;
}

.question-mark:hover {
	transform: scale(1.1);
}

.question-mark:hover ~ .pop-up {
	opacity: 1;
}

.pop-up {
	opacity: 0;
	margin-top: 20px;
	padding: 10px;
	background-color: #fff;
	border-radius: 8px;
	transition: 0.5s all;
}

.register-btn {
	margin: 30px 10px 0 0;
	border: none;
	background: none;
	outline: none;
	font-size: 40px;
	color: #4b4b4b;
	cursor: default;
	transition: 0.5s;
	display: flex;
	align-items: center;
	align-self: flex-end;
}

.register-btn .circle-icon {
	border-color: #4b4b4b;
	color: #4b4b4b;
}

.enabled {
	color: #fff;
	cursor: pointer;
}

.register-btn.enabled .circle-icon {
	border-color: #fff;
	color: #fff;
}

.register-btn div {
	margin-left: 20px;
}
