﻿* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	/*height: 100%;*/
	min-height: 100vh;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
}

.initial-page {
	padding: 30px 20px;
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2%;
}

.initial-page-container {
	padding-top: 100px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.initial-page-container h1 {
	font-size: 40px;
	font-weight: normal;
}

.add-button {
	margin-top: 50px;
	padding: 35px 20px;
	max-width: 250px;
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 0 5px #9999;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px solid #1ece8f;
	color: #1ece8f;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-button p {
	margin-left: 10px;
	font-size: 24px;
	color: #000;
	font-weight: 100;
}
